<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/includes/headTag :: head_tag"></th:block>
<body style="">
   <!-- 수정  -->
   <script type="text/javascript" defer>

      //상품 디테일 페이지에 pid를 보내줌
      function goDetailPage(e) {
        let pid = $(e).data("pid");
        location.href = "/product/productDetail?pid=" + pid;
      }
    </script>



   <script>
   let page = 0;
   let sort = 1;
   $(document).ready(function(){

      let pcno = $("input[name=pcno]").val();
      
      
      console.log("pcno********>>"+pcno);
      sendpcno(pcno,page,sort);
      
      
      $(window).scroll(function() {
         console.log("scroll(function()==");
         
      if(($(window).scrollTop()) >= $(document).height()- $(window).height()-1  ){ 
          
           console.log("페이지들어오니?->" + page);
              sendpcno($("input[name=pcno]").val(),page,sort); 
         }
      }); 
   });

      function sendpcno(pcno,pnum,order) {
      console.log("pnum>>"+pnum);
      if(pnum==0) {
         page = pnum;
         $("input[name=pcno]").val(pcno);
              $("input[name=page]").val(pnum);
              $(".selected").removeClass("selected");
              $(".focus").removeClass("focus");
              $('[data-value="1"]').addClass("selected focus");
              $(".current").text("가격 높은순");

      }
      console.log(pcno,pnum,order);
       let pcno_top = $("input[name=pcno_top]").val();
      
          let element = {
            pcno: pcno,
            page: page,
            pcno_top: pcno_top,
            sort : order
          };
          
      console.table("엘리먼트 >>>>>>>>>"+element);
      
          $.ajax({
            type: "post",
            url: "/papi/productlist",
            data: JSON.stringify(element),
            contentType: "application/json",
            beforeSend: function (xhr) {
              xhr.setRequestHeader(header, token);
            },
            dataType: "json",
            success: function (result) {
               console.log("버튼누르면 들어온다==")
              let str = "";
            /* console.log(result); */
              $.each(result.productlist, function (index, product) {
                /*  console.log(product); */
                let pprice =product.pprice.toLocaleString('ko-KR');
                 str += `
                         <div class="col-lg-4 col-md-6 col-sm-6">
                         <div class="product__item">   
                           <div class="product__item__pic set-bg" id="img" data-pid="${product.pid}" data-setbg="${product.pimg}" onclick="goDetailPage(this)">
                             <ul class="product__hover">
                               <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                               <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                               <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                             </ul>
                           </div>
                           <div class="product__item__text">
                             <h6>${product.pname}</h6>
                             <a href="#" class="add-cart">+ Add To Cart</a>
                             <strike><h5>${pprice}원</h5></strike>  
                             	
                             
                             <div class="product__color__select">
                               <label for="pc-4"><input type="radio" id="pc-4"></label>
                               <label class="active black" for="pc-5"><input type="radio" id="pc-5"></label>
                               <label class="grey" for="pc-6"><input type="radio" id="pc-6"></label>
                             </div>
                           </div>
                         </div>
                       </div>`; 
              });

            console.log("if 쪽 page------------>>"+ page);
            
           if (page == 0) {
             $("#productlistajax").html(str);

           } else {
             $("#productlistajax").append(str);
           } 
       
            console.log(result.length)
             page++;
              $("input[name=page]").val(page);
              
              $(".set-bg").each(function () {
                var bg = $(this).data("setbg");
                $(this).css("background-image", "url(" + bg + ")");
              });
              
            },
            error: function (err,xhr,status) {
              console.log("실패 카테고리 리스트 에이작스 ");
            },
            
          });
          
        }  //function sendpcno(pcno)
   
        //클릭 옵션 하면 function작동함 ->0넣기
         $(document).on("click",".option", function(){
            sort = $(this).data('value');
            console.log(sort);
            sendpcno($("input[name=pcno]").val(),0,sort);
         })

         
    </script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <script type="text/javascript" defer></script>
   <!-- Page Preloder -->
   <div id="preloder" style="display: none">
      <div class="loader" style="display: none"></div>
   </div>
   <!-- Offcanvas Menu Begin -->
   <th:block th:replace="/includes/header :: header1"></th:block>
   <th:block th:replace="/includes/header :: header2"></th:block>
   <th:block th:replace="/includes/header :: header3"></th:block>

   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-option">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb__text">
                  <h4></h4>

                  <div class="breadcrumb__links">
                     <a href="">Home</a><span>Shop</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Breadcrumb Section End -->
   <!-- Shop Section Begin -->
   <section class="shop spad">
      <div class="container">
         <div class="row">
            <div class="col-lg-3">
               <div class="shop__sidebar">
                  <div class="shop__sidebar__search">
                     <form action="#">
                        <input type="text" placeholder="Search..." />
                        <button type="submit">
                           <span class="icon_search"></span>
                        </button>
                     </form>
                  </div>
                  <div class="shop__sidebar__accordion">
                     <div class="accordion" id="accordionExample">
                        <div class="card">
                           <div class="card-heading" id="listbig">
                              <a data-toggle="collapse" data-target="#collapseOne">카테고리</a>
                           </div>
                           <div id="collapseOne" class="collapse show"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                 <div class="shop__sidebar__categories">
                                    <!-- <th th:each="categorypcno :${categorypcno}"> -->
                                    <ul class="nice-scroll"
                                       style="overflow-y: hidden; outline: none; touch-action: none;"
                                       tabindex="1">
                                       <li th:each="cList:${cList}"><a href="#"
                                          th:text="${cList.pcategory}"
                                          th:onclick="sendpcno([[${cList.pcno}]] ,0,1);"> </a> <input
                                          type="hidden" th:value="${cList.pcno}" name="pcno" /></li>
                                    </ul>



                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <!-- <div class="card-heading">
                              <a data-toggle="collapse" data-target="#collapseTwo">브랜드</a>
                           </div>
                           <div id="collapseTwo" class="collapse show"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                 <div class="shop__sidebar__brand">
                                    <ul>
                                       <li><a href="#">현대그린푸드(정육)</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-9">
               <div class="shop__product__option">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__product__option__left">
                           <p>Showing 1–9 of 9 results</p>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__product__option__right">
                           <p>필터 :</p>
                           <select style="display: none">
                              <option value="">Low To High</option>
                              <option value="">$0 - $55</option>
                              <option value="">$55 - $100</option>
                           </select>
                           <div class="nice-select" tabindex="0">
                              <span class="current">가격 높은순</span>
                              <ul class="list">
                                 <li data-value="1" data-type="sort" class="option selected">가격
                                    높은순</li>
                                 <li data-value="2" data-type="sort" class="option">가격
                                    낮은순</li>
                                 <li data-value="3" data-type="sort" class="option">판매량
                                    높은순</li>
                                 <li data-value="4" data-type="sort" class="option">판매량
                                    낮은순</li>
                              </ul>

                              <input type="hidden" th:value="${pcno_top}" name="pcno_top" />
                              <input type="hidden" id="fil" value="0" name="page" />



                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" id="productlistajax"></div>
            </div>

            <div class="row"></div>
         </div>
      </div>
      </div>
   </section>
   <!-- Shop Section End -->
   <!-- Footer Section Begin -->
   <th:block th:replace="/includes/footer :: footer"></th:block>
   <!-- Footer Section End -->
</body>
</html>