<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/headTag :: head_tag"></th:block>
<style>
.product-container {
	display: flex;
	flex-wrap: wrap;
}

.product-info {
	width: 50%;
	margin-right: 20px;
}

.product-info img {
	width: 100%;
}

.recommendation-container {
	width: 50%;
}

.recommendation-container h3 {
	margin-top: 0;
}

.recommendation-list {
	display: flex;
	flex-wrap: wrap;
}
</style>
<style>
.product__cart__item__pic {
	position: relative;
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.price-box h5, .price-box h6 {
	display: inline-block;
	margin: 0;
}

.product__cart__item__text {
	overflow: hidden;
}

.pimg {
	width: 90px;
	height: 90px;
}

.product__cart__item__text .cost {
	color: #999;
	/* 회색으로 표시 */
	font-size: 0.8em;
	/* 작게 보이도록 설정 */
	text-decoration: line-through;
	/* 선 그어지도록 설정 */
}

.empty-basket {
	text-align: center;
	font-size: 20px;
	color: #666;
}

@media ( max-width : 768px) {
	.empty-basket {
		font-size: 16px;
	}
}
</style>
<style>
.table-borderless td, .table-borderless th {
	border: none;
	text-align: left;
	font-size: 15px;
}

.table-borderless td:first-child {
	font-weight: bold;
}

.product__details__pic {
	margin-bottom: 0px;
}

.product__details__text {
	margin-top: 30px;
	border-bottom: solid;
	margin-bottom: 20px;
}

td:nth-child(1) span:nth-child(1) {
	font-size: 15px;
}

td:nth-child(1) span:nth-child(2) {
	font-size: 25px;
}

.col-5 {
	font-size: 20px;
	font-weight: bold;
}

.orderDirect {
	background: #f3f2ee;
	border: black solid;
	color: black;
}
</style>
<body style="">
	<script type="text/javascript" defer></script>
	<!-- Page Preloder -->

	<th:block th:replace="includes/header :: header1"></th:block>
	<th:block th:replace="includes/header :: header2"></th:block>
	<th:block th:replace="includes/header :: header3"></th:block>
	<!-- Header Section End -->
	<!-- Shop Details Section Begin -->
	<section class="shop-details">
		<div class="product__details__pic">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__breadcrumb">
							<a href="./index.html">Home</a> <span href="./shop.html"
								th:text="${Detail.detail.pcategory}"></span>
						</div>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-lg-2">
					<div class="col tab-content">
						<div class="tab-pane active" id="tabs-1" role="tabpanel">
							<div class="product__details__pic__item">
								<img id="mainImg" th:src="${Detail.pimg[0].pimg}" alt="" />
							</div>
						</div>
					</div>
					<div class="col">
						<div class="product__details__text">

							<h4 id="pname" th:data-pos="${Detail.detail.pid}"
								th:text="${Detail.detail.pname}" style="text-align: left"></h4>

							<div class="product__details__last__option">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td th:if="${Detail.detail.pdiscount != 0}"><h4
													th:text="${Detail.detail.pdiscount} + '%'"
													style="color: #ff6913"></h4></td>
											<style></style>
											<td th:if="${Detail.detail.pdiscount != 0}"><span
												id="discontPrice"
												th:text="${#numbers.formatInteger(Detail.detail.pprice - (Detail.detail.pdiscount * Detail.detail.pprice /100), 3, 'COMMA') + '원'}"
												style="font-size: 30px"></span> <strike
												th:if="${Detail.detail.pdiscount != 0}"> <span
													th:text="${#numbers.formatInteger(Detail.detail.pprice, 3, 'COMMA') + '원'}"></span>
											</strike></td>

											<td th:if="${Detail.detail.pdiscount == 0}"><span
												id="originPrice"
												th:text="${#numbers.formatInteger(Detail.detail.pprice, 3, 'COMMA') + '원'}"
												style="font-size: 30px"></span></td>
										</tr>

										<tr>
											<td>상품번호</td>
											<td th:text="${Detail.detail.pid}"></td>
										</tr>
										<tr>
											<td>카테고리</td>
											<td th:text="${Detail.detail.pcategory}"></td>
										</tr>
										<tr>
											<td>분류</td>
											<td th:text="${Detail.detail.stag}"></td>
										</tr>
										<tr>
											<td>원산지</td>
											<td th:text="${Detail.detail.porigin}"></td>
										</tr>
										<tr>
											<td>배송형태</td>
											<td>새벽배송 / 밤 11시까지 결제 시</td>
										</tr>
										<tr>
											<td>배송비</td>
											<td>5,000원 (5만원 이상 구매 시 무료)</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="product__details__cart__option row row-cols-sm-12">
								<input class="item" id="-1" type="hidden"
									th:data-value="${Detail.detail.pid}" name="pid"
									th:value="${Detail.detail.pid}" />
								<div class="quantity" style="width: 100%; margin: 10px">
									<div class="pro-qty" style="display: flex; align-items: center">
										<input class="item" id="quantity_-1" name="quantity"
											type="text" value="1" style="width: 100%" />
									</div>
								</div>
								<a href="#" class="primary-btn col"
									th:onclick="'addToCart(false,-1)'"
									style="margin: 10px; width: -webkit-fill-available">장바구니</a> <a
									href="#" class="primary-btn orderDirect col"
									style="margin: 10px; width: -webkit-fill-available; border: #ebeae4; background: #ebeae4;">바로구매</a>
							</div>
						</div>

						<div class="product__details__widget">
							<script>
                  // id가 discontPrice인 span 이있으면 해당 값이 id가 quantity_-1랑 곱해서 나타내주고  discontPrice인 span이 없으면 id가 originPrice인 span이랑 곱해서 나타내기
                  function TotalPrice(e) {
                    let discontPrice = $("#discontPrice").text().replace(/,/g, "").replace("원", "");
                    let originPrice = $("#originPrice").text().replace(/,/g, "").replace("원", "");


                    let quantity = $("#quantity_-1").val();
                    let totalPrice = 0;

                    if (discontPrice != "") {
                      totalPrice = discontPrice * (parseInt(quantity) + parseInt(e));
                      $("#totalPrice").text(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
                    } else {
                      totalPrice = originPrice * (parseInt(quantity) + parseInt(e));
                      $("#totalPrice").text(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
                    }
                  }
                  $(document).ready(function () {
                    // id가 quantity_-1 의 값이 변경될때마다
                    $("#quantity_-1").on("change", function () {
                      TotalPrice(0);
                    });

                    $("span.inc").on("click", function () {
                      TotalPrice(1);
                    });
                    $("span.dec").on("click", function () {
                      let quantity = $("#quantity_-1").val();
                      if (quantity == 1) {
                        TotalPrice(0);
                      } else {
                        TotalPrice(-1);
                      }
                    });
                  });
                </script>

							<div class="row">
								<style></style>
								<span class="col-5">총 상품금액</span>
								<h2 id="totalPrice" class="col-7"
									th:text="${#numbers.formatInteger(Detail.detail.pprice, 3, 'COMMA') + '원'}"></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="product__details__content">
			<div class="container">
				<div class="row d-flex justify-content-center"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">


								<script>
							$(document).ready(function(){
									let recipes = $(".recommand-recipes").length;
									let lives = $(".recommand-lives").length;
									if(recipes==0){
										$(".recipe-tab").hide();
									}
									if(lives==0){
										$(".live-tab").hide();
									
									}
									console.log(recipes,lives);
								});
								
								</script>

								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#tabs-5" role="tab">상품설명</a></li>
								<li class="nav-item recipe-tab"><a class="nav-link"
									data-toggle="tab" href="#tabs-6" role="tab">추천 레시피</a></li>
								<li class="nav-item live-tab"><a class="nav-link"
									data-toggle="tab" href="#tabs-7" role="tab">라이브 클래스</a></li>
							</ul>
							<div class="tab-content"
								style="display: flex; justify-content: center">
								<div class="tab-pane active" id="tabs-5" role="tabpanel"
									style="width: 800px">
									<br> <br>
									<!--audio오디오-->

									<div id="audio-container"
										style="display: flex; justify-content: center; align-items: center;">
										
										<audio id="audio-player" hidden="true" controls loop="-1">
											<source src="/sound/보글이.mp3" type="audio/mpeg">
										</audio>

										<audio id="meets" hidden="true" controls loop="-1">
											<source src="/sound/meet.mp3" type="audio/mpeg">
										</audio>
										
									</div>

									<script>
									
									const currentUrl = window.location.href;
									  if (currentUrl === 'https://localhost/product/productDetail?pid=S02207105050') {
									    const audioPlayer = document.getElementById('audio-player');
									    audioPlayer.autoplay = true;
									  }
							
									  if (currentUrl === 'https://localhost/product/productDetail?pid=S02105051251') {
									    const meet = document.getElementById("meets");
									    meet.autoplay = true;
									  }
									</script>
 



									<!-- 음향 소리 -->
									<script>
								      window.onload = function() {
								        var currentUrl = window.location.href;
								        if (currentUrl.includes('pid=S02207105050')) {
								          var h4Element = document.getElementById('pname');
								          h4Element.innerHTML = '<i class="fas fa-volume-high" style="margin-right: 15px;"></i>' + h4Element.innerHTML;
								        }
								      }
								 
								      window.onload = function() {
								        var currentUrl = window.location.href;
								        if (currentUrl.includes('pid=S02105051251')) {
								          var h4Element = document.getElementById('pname');
								          h4Element.innerHTML = '<i class="fas fa-volume-high" style="margin-right: 15px;"></i>' + h4Element.innerHTML;
								        }
								      }
								    </script>
								    
								    
								    
								    
								    
									<!-- 소리 end -->

									<!-- 오디오 -->

									<div class="product__details__tab__content"
										style="display: flex; flex-direction: column; align-items: center;">
										<br> <img th:src="${Detail.pimg[1].pimg}" alt="" />
										<p class="note"></p>

										<img th:each="detail, i : ${Detail.pimg}"
											th:if="${i.index >= 2 and i.index <= #lists.size(Detail.pimg)}"
											th:src="${detail.pimg}" />
										<p th:src="${Detail.detail.pbdesc}"></p>

										<div class="blog__details__quote" style="user-select: auto;">

											<div class="product__details__tab__content__item">
												<h3 th:text="${Detail.detail.ptitle}"></h3>

												<p th:text="${Detail.detail.pdetail}"></p>
											</div>
										</div>
										<div class="blog__details__quote" style="user-select: auto;">
											<i class="fa fa-quote-left" aria-hidden="true"
												style="user-select: auto;"></i>
											<h5 th:text="${Detail.detail.pbname}"></h5>
											<p th:text="${Detail.detail.pbsmall}"></p>
											<p th:text="${Detail.detail.pbdesc}"></p>

										</div>
									</div>
									<!--  <img th:src="${Detail.pimg[Detail.pimg.size() - 1].pimg}" /> -->
								</div>
								<div class="tab-pane" id="tabs-6" role="tabpanel"
									style="width: 100vw;">
									<div class="product__details__tab__content">

										<!-- 레시피 추천 추가 start -->

										<div class="container" style="user-select: auto;">
											<ul class="filter__controls" style="user-select: auto">
												<li class="active" data-filter="*" style="user-select: auto">현재
													상품으로 만들수 있는 레시피 추천 목록 입니다.</li>
											</ul>
											<div class="row" id="recipeajax" style="user-select: auto;">




												<!-- 	반복 시점  -->
												<div class="container">


													<div class="row" id="recipeajax">
														<div class="col-lg-4 col-md-6 col-sm-6"
															th:each="recipes:${recipes}">
															<div class="blog__item">
																<div class="product__item__pic set-bg recommand-recipes"
																	id="img" th:data-setbg="${recipes.rimg}"
																	th:data-rid="${recipes.rid}"
																	onclick="gorecipeDetailPage(this)"
																	style="background-image: url(&quot;https://tohomeimage.thehyundai.com/DP/DP018/2023/01/16/092349/scine.jpg&quot;);">
																</div>
																<div class="blog__item__text">
																	조리난이도<span th:text="${recipes.rlevel}"></span> <span
																		th:text="${recipes.rtime}"></span>
																	<h5 th:text="${recipes.rtitle}"></h5>
																	<a
																		th:href="@{/recipe/recipeDetail(rid=${recipes.rid})}">레시피
																		보러가기</a>
																</div>
															</div>
														</div>
													</div>
													<script type="text/javascript" defer>
													      function gorecipeDetailPage(e) {
													        let rid = $(e).data("rid");
													        location.href = "/recipe/recipeDetail?rid=" + rid;
													      }
   														 </script>




												</div>
												<!-- 	반복 시점 -->
											</div>
										</div>




										<!-- 레시피 추천 추가 end-->

									</div>
								</div>
								<div class="tab-pane" id="tabs-7" role="tabpanel"
									style="width: 100vw">
									<div class="product__details__tab__content">
										<div class="row" id="recipeajax">
											<div class="col-lg-4 col-md-6 col-sm-6"
												th:each="lives:${lives}">
												<div class="blog__item">
													<div class="product__item__pic set-bg recommand-lives"
														id="img" th:data-setbg="${lives.lcimg}"
														th:data-rid="${lives.lcid}"
														onclick="gorecipeDetailPage(this)"
														style="background-image: url(&quot;https://tohomeimage.thehyundai.com/DP/DP018/2023/01/16/092349/scine.jpg&quot;);">
													</div>
													<!-- <div class="blog__item__text">
													조리난이도<span th:text="${recipes.rlevel}"></span> <span
														th:text="${recipes.rtime}"></span> -->
													<h5 th:text="${lives.lcname}"></h5>
													<!-- <a th:href="@{/recipe/recipeDetail(rid=${recipes.rid})}">레시피
														보러가기</a> -->
												</div>
											</div>
										</div>
									</div>
								</div>



								<!-- <div class="product__details__tab__content">반품 환불</div> -->
								<!-- <input type="checkbox" name="cartlist" display="none;" 
										id="checkbox_-1" checked />-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- <div>
	</div> -->
	<!-- Related Section End -->
	<!-- Footer Section Begin -->
	<th:block th:replace="includes/footer :: footer"></th:block>
	<!-- Footer Section End -->
	<!-- Code injected by live-server -->
	<script src="/js/dialog.js"></script>
	<!-- Code injected by live-server -->
	<!-- Code injected by live-server -->
	<script th:inline="javascript">

    /*<![CDATA[*/
    function addToCart(flag, idx) {
      var isAdmin = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
      if (!isAdmin) {
        Swal.fire({
          title: "로그인이 필요한 활동입니다.",
          text: "로그인 페이지로 이동하시겠습니까?",
          icon: "info",
          iconColor: "#116530",
          showCancelButton: true,
          confirmButtonText: "네",
          cancelButtonText: "아니요",
          confirmButtonColor: "#116530",
          cancelButtonColor: "gray",
        }).then((result) => {
          if (result.isConfirmed) {
            location.href = "/member/login";
          }
        });
        return;
      }
      var pamounts = [];
      var pids = [];
      var pnames = [];
      if (flag) {
		
        $("input[name=cartlist]:checked").each(function () {
          var pos = $(this).prop("id").split("_")[1];
          var pid = $("#" + pos).data("value");
          var quantity = $("#quantity_" + pos).val();
          var pname = $("[data-pos="+pid+"]").text();
          pids.push(pid);
          pamounts.push(quantity);
          pnames.push(pname);
        });
        
		}else {
			
			var pid = $("#" + idx).data("value");
          	var quantity = $("#quantity_" + idx).val();
          	var pname = $("[data-pos="+pid+"]").text();
          	pids.push(pid);
         	 pamounts.push(quantity);
         	 pnames.push(pname);
		}
			console.log(pids,pamounts, pnames);
        $.ajax({
          url: "/capi/insert",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          type: "post",
          contentType: "application/json",
          data: JSON.stringify({
            pids: pids,
            pamounts: pamounts,
            pnames : pnames
          }),
          success: function (result) {
            
            showModal(result,flag);
          },
          error: function (err, xhr, status) {
            if (err.status == 405 || err.status == 400) {
              customConfirm("장바구니에 존재하는 상품입니다.", "확인하러 이동하기", "장바구니로", "아니요");
            }
          },
        });
      }

      /*]]>*/

    </script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</body>
</html>
