function sendpcno(pcno,page) {
  console.log(page);

     let pcno_top = $("input[name=pcno_top]").val();

       console.log("function sendpcno의 펑션작동됨1 pcno는 >>" + pcno +"@@" + $("input[name=pcno_top]").val());
       console.log("function sendpcno의 펑션작동됨2 pcno는 >>" + pcno +"@@" + "pcno_top>>" + pcno_top);
       
 
           let sort_option = document.querySelector('.option.selected');
           let sort = sort_option.dataset.value;
           if (sort == null || sort== 0) {
            sort =1;
           } else {
             console.log('sort 가 null이 아니다.good');
           }
           
       console.log("sort 콘솔>>"+ sort);
   console.log()
       
       let element = {
         pcno: pcno,
         page: page,
         pcno_top: pcno_top,
         sort : sort
       };
   console.log(element);
       $.ajax({
         type: "post",
         url: "/papi/productlist",
         data: JSON.stringify(element),
         contentType: "application/json",
         beforeSend: function (xhr) {
           xhr.setRequestHeader(header, token);
         },
         dataType: "json",
         success: function (result) {
           let str = "";
     console.log(result);
           $.each(result.productlist, function (index, product) {
             console.log(product);
             str += `
                      <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">	
                        <div class="product__item__pic set-bg" id="img" data-pid="${product.pid}" data-setbg="${product.pimg}" onclick="goDetailPage(this)">
                          <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                          </ul>
                        </div>
                        <div class="product__item__text">
                          <h6>${product.pname}</h6>
                          <a href="#" class="add-cart">+ Add To Cart</a>
                          <h5>${product.pprice}원</h5>
                          
                          <div class="product__color__select">
                            <label for="pc-4"><input type="radio" id="pc-4"></label>
                            <label class="active black" for="pc-5"><input type="radio" id="pc-5"></label>
                            <label class="grey" for="pc-6"><input type="radio" id="pc-6"></label>
                          </div>
                        </div>
                      </div>
                    </div>`; 
           });

     
         
         if (page === 0) {
         $("#productlistajax").html(str);
       } else {
         $("#productlistajax").append(str);
       }

           
           $(".set-bg").each(function () {
             var bg = $(this).data("setbg");
             $(this).css("background-image", "url(" + bg + ")");
           });
           
         },
         error: function (err,xhr,status) {
           console.log("실패 카테고리 리스트 에이작스 ");
         },
         
       });
       
     } 