<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/headTag :: head_tag"></th:block>
<body>
   <!-- Page Preloder -->

   <!-- Offcanvas Menu Begin -->
   <th:block th:replace="includes/header :: header1"></th:block>
   <th:block th:replace="includes/header :: header2"></th:block>
   <th:block th:replace="includes/header :: header3"></th:block>

   <!-- Offcanvas Menu End -->



   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-blog set-bg"
      data-setbg="https://tohomeimage.thehyundai.com/DP/DP018/2023/03/14/105207/sgbhm.jpg?RS=1204&CS=1204x300">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <h2>RECIPE</h2>
            </div>
         </div>
      </div>
   </section>
   <!-- Breadcrumb Section End -->

   <!-- Blog Section Begin -->
   <section class="blog spad" style="padding-top:35px">
      <div class="container" style="user-select: auto;">
         <div class="row" style="user-select: auto;">

            <div class="col-lg-12" style="user-select: auto;">
               <div class="shop__product__option" style="user-select: auto;">
                  <div class="row" style="user-select: auto;">
                     <div class="col-lg-6 col-md-6 col-sm-6"
                        style="user-select: auto;">
                        <div class="shop__product__option__left"
                           style="user-select: auto;">
                           <p style="user-select: auto;"></p>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6"
                        style="user-select: auto;">
                        <div class="shop__product__option__right"
                           style="user-select: auto;">
                           <p style="user-select: auto;">필터 :</p>
                           <select style="display: none; user-select: auto;">
                              <option value="" style="user-select: auto;">Low To
                                 High</option>
                              <option value="" style="user-select: auto;">$0 - $55</option>
                              <option value="" style="user-select: auto;">$55 -
                                 $100</option>
                           </select>
                           <div class="nice-select" tabindex="0"
                              style="user-select: auto;">
                              <span class="current">최신순</span>
                              <ul class="list">
                                 <li data-value="1" data-type="sort" class="option selected">최신순</li>
                                 <li data-value="2" data-type="sort" class="option">난이도 순</li>
                                 <li data-value="3" data-type="sort" class="option">조리
                                    시간순</li>
                              </ul>

                              <input type="hidden" value="100571" name="pcno_top"
                                 style="user-select: auto;"> <input type="hidden"
                                 id="fil" value="1" name="page" style="user-select: auto;">



                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>

            <div class="row" style="user-select: auto;"></div>
         </div>
      </div>
   
      <div class="container">


         <div class="row" id="recipeajax">
            <!-- 반복 시점 -->
            <div class="row" id="recipeajax">
                     <div class="col-lg-4 col-md-6 col-sm-6"
               th:each="recipelist : ${recipelist}">
               <div class="blog__item">

                  <div class="product__item__pic set-bg" id="img"
                     th:data-setbg="${recipelist.rimg}"
                     th:data-rid="${recipelist.rid}"
                     th:onclick="gorecipeDetailPage(this)">
                  </div>

                  <div class="blog__item__text">
                     <span th:text="${recipelist.rregdate}">등록날짜</span>
                     <h5 th:text="${recipelist.rtitle}"></h5>

                     <a href="#">레시피 보러가기</a>
                  </div>
               </div>
            </div> 
            </div>
            <!-- 반복 시점 -->



         </div>
   </section>
   <script type="text/javascript" defer>
      function gorecipeDetailPage(e) {
         let rid = $(e).data('rid');

         location.href = "/recipe/recipeDetail?rid=" + rid
      }
   </script>


   <script>
   let page = 0;
   let sort = 1; 
   
    $(document).ready(function(){
      
       scroll(page,sort);
      

      $(window).scroll(function() {
         
   
         
         
      if(($(window).scrollTop()) >= $(document).height()- $(window).height()-1  ){ 
         page++;
           console.log("page==>" + page + "sort>>"+sort);
           scroll(page,sort);  
         }
      });  
   }); 

      function scroll(nPage,sort) {
         if(sort ==0 || null){
            sort=1;
         }
          let element = {
            page: nPage,
            sort :sort
          };
          
      console.table("엘리먼트 >>>>>>>>>"+element);
      
          $.ajax({
            type: "post",
            url: "/papi/recipelist",
            data: JSON.stringify(element),
            contentType: "application/json",
            beforeSend: function (xhr) {
              xhr.setRequestHeader(header, token);
            },
            dataType: "json",
            success: function (result) {
               console.log("펑션(success: function) 쪽 들어온다==>"+ result)
              let str = "";
            
               $.each(result.recipelist, function (index, recipelist) {
                    str += `
                      <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog__item">
                          <div class="product__item__pic set-bg"
                               id="img"
                               data-setbg="${recipelist.rimg}"
                               data-rid="${recipelist.rid}"
                               onclick="gorecipeDetailPage(this)">
                          </div>
                          <div class="blog__item__text">
                            <span>${recipelist.rregdate}  등록날짜</span>
                            <h5>${recipelist.rtitle}</h5>
                            <a href="/recipe/recipeDetail?rid=${recipelist.rid}">레시피 보러가기</a>
                         </div>
                        </div>
                      </div>`;
                  });

            console.log(" page------------>>"+ page);
            
           if (page == 0) {
             $("#recipeajax").html(str);
           } else {
             $("#recipeajax").append(str);
           } 
       
            console.log("result.length>>"+result.length);
            
            $(".set-bg").each(function () {
               
                var bg = $(this).data("setbg");
                $(this).css("background-image", "url(" + bg + ")");
                
              });
            
              
            },
            error: function (err,xhr,status) {
              console.log("실패 카테고리 리스트 에이작스 ");
            },
            
            
          });
          
        }  //function 
        //클릭 옵션 하면 function작동함 ->0넣기
        $(document).on("click",".option", function(){
           sort = $(this).data('value');
           console.log(sort);
           page = 0;
           scroll(page,sort);
        })  

         
    </script>
   <!-- Blog Section End -->


   <!-- Footer Section End -->

   <th:block th:replace="includes/footer :: footer"></th:block>
</body>
</html>