<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/includes/headTag :: head_tag"></th:block>
<style>
		#myMsgDialog {
			width:40%; 
			background-color: white; 
			border:1px solid black; 
			border-radius: 7px;
		}		

		#mButton {
			padding: 7px 30px;
			background-color: #66ccff;
			color: white;
			font-size: 15px;
			border: 0;
			outline: 0;
		}
	</style>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header Section Begin -->
    <th:block th:replace="/includes/header :: header1"></th:block>
	<th:block th:replace="/includes/header :: header2"></th:block>
	<th:block th:replace="/includes/header :: header3"></th:block>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Live Class</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
            	<div class="col-lg-4 col-md-6 col-sm-6"
					th:each="liveClass : ${liveClassList}">
					<div class="blog__item">
						<div class="blog__item__pic set-bg2" th:style="'background-image:url(' + ${liveClass.lcimg} + ');'"></div>
						<div class="blog__item__text">
							<span th:text="${liveClass.lcday}"><img th:src="${liveClass.lcimg}" alt="이미지 안불러짐"></span>
							<h5 th:text="${liveClass.lcname}"></h5>
							<a th:href="@{/class/detail/{lcid}(lcid=${liveClass.lcid})}">상세보기</a>
						</div>
					</div>
				</div>
            
            
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 2023.03.11(토)</span>
                            <h5>오밀스튜디오 커플 베이킹: 아메리칸 쿠키 2종</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 2023.03.24(금)</span>
                            <h5>깊은 맛의 맛깔스런 얼갈이 열무김치 4.5kg 담아가기</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Blog Section End -->


	<!-- 알람 버튼 만들기 테스트  -->

	<dialog id="favDialog">
  <form method="dialog">
    <p><label>좋아하는 동물:
      <select>
        <option></option>
        <option>아르테미아</option>
        <option>레서판다</option>
        <option>거미원숭이</option>
      </select>
    </label></p>
    <menu>
      <button value="cancel">취소</button>
      <button id="confirmBtn" value="default">확인</button>
    </menu>
  </form>
</dialog>

<menu>
  <button id="updateDetails">상세정보 업데이트</button>
</menu>

<output aria-live="polite"></output>
	
    
    
    <button onclick="showMsg()">메시지 띄우기</button>

	<div>
		<!-- 아래 dialog 태그 영역이 메시지 창 -->
		<dialog id="myMsgDialog">
			<h3>알람</h3>
			<hr>
			<table id="alarmContent">
			  <tr>
			    <th>공지번호</th>
			    <th>내용</th>
			  </tr>
			  <tr >
			    <td>1번 공지</td>
			    <td>나는 지금 너무 졸립다!</td>
			  </tr>
			</table>
			<input type="button" id="mButton" onclick="closeMsg()" value=" 확 인 " >
		</dialog>
	</div>
	<script>
		function showMsg(){
			var dialog = document.getElementById("myMsgDialog");
			//$("#myMsgDialog").append("테스트 중입니다.");
			$("#alarmContent").append("<tr><td>3번 공지</td><td>테스트 중입니다(1)</td></tr>");
			$("#alarmContent").append("<tr><td>4번 공지</td><td>테스트 중입니다(2)</td></tr>");
			dialog.showModal();
		}
		
		function closeMsg(){
			var dialog = document.getElementById("myMsgDialog");
			dialog.close();
		}
	</script>
	
	


    <!-- Footer Section Begin -->
    <th:block th:replace="/includes/footer :: footer"></th:block>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    
    <!-- Search End -->

    <!-- Js Plugins -->
    
    
    <script type="text/javascript">
    var updateButton = document.getElementById('updateDetails');
    var favDialog = document.getElementById('favDialog');
    var outputBox = document.getElementsByTagName('output')[0];
    var selectEl = document.getElementsByTagName('select')[0];
    var confirmBtn = document.getElementById('confirmBtn');

    // “Update details” button opens the <dialog> modally
    updateButton.addEventListener('click', function onOpen() {
      if (typeof favDialog.showModal === "function") {
        favDialog.showModal();
      } else {
        alert("The <dialog> API is not supported by this browser");
      }
    });
    // "Favorite animal" input sets the value of the submit button
    selectEl.addEventListener('change', function onSelect(e) {
      confirmBtn.value = selectEl.value;
    });
    // "Confirm" button of form triggers "close" on dialog because of [method="dialog"]
    favDialog.addEventListener('close', function onClose() {
      outputBox.value = favDialog.returnValue + " button clicked - " + (new Date()).toString();
    });
    
    </script>
    
 
</body>

</html>