<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="includes/headTag :: head_tag"></th:block>

<body class="product-detail">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<th:block th:replace="includes/header :: header1"></th:block>
	<th:block th:replace="includes/header :: header2"></th:block>
	<th:block th:replace="includes/header :: header3"></th:block>
	<!-- Header Section End -->
	
	<!-- 	<link th:href="@{/css/liveclass2.css}" rel="stylesheet"> -->
	<!-- <link th:href="@{/css/main2.css}" rel="stylesheet"> -->
	<link rel="icon" th:href="@{/img/logo.png}" href="https://preview.keenthemes.com/jet-html-free/assets/media/logos/favicon.ico" />
	<link th:href="@{/css/main1.css}" rel="stylesheet">
	<link th:href="@{/css/liveclass1.css}" rel="stylesheet">
	<link th:href="@{/css/liveclass-detail1.css}" rel="stylesheet">
	<link th:href="@{/css/liveclass-detail2.css}" rel="stylesheet">
	<link href="@{/css/font.css}" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

	<div id="wrap" >
		<div id="container">
			<div id="contents">
				<div class="product-detail-wrap">

					<!-- detail-block -->
					<div class="xans-element- xans-product xans-product-detail detail-block">
						<!-- product-imagees -->
						<div class="product-imagees">
							<div class="xans-element- xans-product xans-product-image ">
								<!-- 이 부분은 상품정보의 서비스문의/안내를 활용 함 -->
								<div class="xans-element- xans-product xans-product-additional product-video displaynone displaynone "></div>
								<div class="only-pc">
									<ul class="xans-element- xans-product xans-product-image prdImages first ">
										<li>
											<a href="javascript:void(0);">
												<img th:src="${liveClass.liveClassListDTO.lcimg}" alt="">
											</a>
										</li>
									</ul>
									<ul class="xans-element- xans-product xans-product-addimage prdImages add">
										<li class="displaynone xans-record-">
											<a href="javascript:void(0);">
												<img th:src="${liveClass.liveClassListDTO.lcimg}" alt="">
											</a>
										</li>
										<li class="xans-record-">
											<a href="javascript:void(0);"></a>
										</li>
									</ul>
								</div>
								<div class="only-mobile">
									<ul class="mobil-slider prdImages">
										<li><img th:src="${liveClass.liveClassListDTO.lcimg}" alt=""></li>
										<li></li>
									</ul>
								</div>
							</div>
						</div>
						<input type="hidden" id="-1" name="pid" th:data-value="${liveClass.liveClassListDTO.lcid}"/>
						<input type="hidden" id="quantity_-1" value="1"/>
						<!-- // product-imagees -->
						<!-- form -->
						<div class="product-form" style="top: 0px;">
							<div class="header" style="padding-top: 0px; padding-bottom: 0px;" >
								<div class="xans-element- xans-product xans-product-headcategory ">
									<ul class="category">
										<li><a href="/" th:text=${liveClass.wholeDate}>Shop</a></li>
										<li class="displaynone"><em>/</em><a href=""></a></li>
										<li class="displaynone"><em>/</em><strong><a href=""></a></strong></li>
									</ul>
								</div>

								<div class="xans-element- xans-product xans-product-detaildesign product-detail-block">
									<p class="product_name_css xans-record-">
										<span class="title"><span style="font-size: 18px; color: #000000; font-weight: bold;">상품명</span></span>
										<span class="value"><span style="font-size: 18px; color: #000000; font-weight: bold;" th:text="${liveClass.liveClassListDTO.lcname}">강의명</span></span>
									</p>
									<p class="ma_product_code_css xans-record-">
										<span class="title">
											<span style="font-size: 12px; color: #555555;">자체상품코드</span>
										</span>
										<span class="value">
											<span style="font-size: 12px; color: #555555; font-family: ui-serif;" th:text=${liveClass.liveClassListDTO.lcplace}>장소</span>
										</span>
									</p>
									<p class="summary_desc_css xans-record-">
										<span class="title"><span style="font-size: 12px; color: #555555;">상품요약정보</span></span> 
										<span class="value">&nbsp<span style="font-size: 12px; color: #555555;" th:text="${liveClass.liveClassListDTO.lcexplain}">강의소개</span></span>
									</p>
									<p class="prd_price_sale_css xans-record-">
										<span class="title">
											<span style="font-size: 14px; color: #000000; font-weight: bold;">할인판매가</span>
										</span>
										<span class="value">
											<span>
												<span style="font-size: 14px; color: #000000; font-weight: bold;">
													<span id="span_product_price_sale" th:text="${#numbers.formatInteger(liveClass.liveClassListDTO.lcprice, 3, 'COMMA') + '원'}">강의 가격 </span>
												</span>
											</span>
										</span>
									</p>
									
									<p class="made_in_css xans-record-">
										<span class="title"><span style="font-size: 12px; color: #555555;">원산지</span></span> <span class="value"><span style="font-size: 12px; color: #555555;">중국 </span></span>
									</p>
									<p class="print_date_css xans-record-">
										<span class="title"><span style="font-size: 12px; color: 555555;">제조일자</span></span> <span class="value"><span style="font-size: 12px; color: 555555;">2023-02</span></span>
									</p>
								</div>
							</div>



							<!-- option-block -->
							<div
								class="xans-element- xans-product xans-product-option xans-record-">
								
								<div
									class="xans-element- xans-product xans-product-option xans-record-">
									<div class="option-block">
										<ul option_product_no="3488"
											option_select_element="ec-option-select-finder"
											option_sort_no="1" option_type="T" item_listing_type="C"
											option_title="SIZE" product_type="product_option"
											product_option_area="product_option_3488_0"
											option_style="button" ec-dev-id="product_option_id1"
											ec-dev-name="option1" ec-dev-class="ProductOption0"
											class="ec-product-button" required="true">
											<li class="" option_value="P0000FEE000A" link_image=""
												title="FREE"></li>
										</ul>
										
									</div>
								</div>
							</div>
							<!-- // option-block -->

							<input type="checkbox" id="checkbox_-1"name="cartlist" style="display:none;" checked/>

							<!-- product-action-block -->
							<div class="xans-element- xans-product xans-product-action product-action-block">
								<div class="buy-block ">
									<button type="button" class="btn btn-order btn-dark btn-full orderDirect">
										<span id="btnBuy">수강 신청하기</span>
									</button>
									<button type="button"
										th:onclick="addToCart(false,-1)"
										class="btn btn-order btn-gray btn-basket addToCart"
										>
										<span>장바구니 담기</span>
									</button>
								</div>
							</div>
							<!-- // product-action-block -->
							
							<!-- info-block -->
							<div
								class="xans-element- xans-product xans-product-additional info-block">
								<ul class="info-tab">
									<li class="js-delivery active" data-tab="tab-1" style="cursor: pointer;"><a><span>필요 재료</span></a></li>
									<li class="js-details" data-tab="tab-2" style="cursor: pointer;"><a><span>강사이력</span></a></li>
									<li class="js-size" data-tab="tab-3" style="cursor: pointer;"><a><span>수강대상</span></a></li>
								</ul>
								<div id="tab-1" class="info active" style="height: 413.893px;">
									<div th:each="ingredient : ${liveClass.ingredientList}">
										<h6 th:text="'- '+${ingredient}" style="font-size:13px; font-family: none;">필요재료 설명</h6>
									</div>
								</div>
								<div id="tab-2" class="info" style="height: 413.893px; display:none;" >
									<div th:each="lctExplain : ${liveClass.lctExplainList}">
										<h6 th:text="'- '+${liveClass.liveClassListDTO.lcteacher}" style="font-size:13px;">강사이력 설명</h6>
										<h6 th:text="'- '+${lctExplain}" style="font-size:13px;">강사이력 설명</h6>
										<!-- <h6 th:text="'- '+${lctExplain}"></h6> -->
									</div>
								</div>
								<div id="tab-3" class="info" style="height: 413.893px; display:none;" >
									<div th:each="lcStudent : ${liveClass.lcStudentList}">
										<h6 th:text="'-'+${lcStudent}" style="font-size:13px;">수강대상</h6>
									</div>
								</div>
							</div>
							<!-- // info-block -->
						</div>
						<!-- // form -->
					</div>

				</div>
				<!-- Footer Section Begin -->
				<th:block th:replace="includes/footer :: footer"></th:block>
				<script src="/js/dialog.js"></script>
				<!-- Footer Section End -->
				
<script type="text/javascript">
	$('ul.info-tab li').click(function(){
		
		var tab_id = $(this).attr('data-tab');
		$('ul.info-tab li').removeClass('active');
		$(this).addClass('active');
		//$('ul.info-tab li').removeClass('current');
		//$('ul.info-tab li').css('display','none');
		
		
		//$('.tab-content').removeClass('current');
		//$(this).children("info").css('display','none')
		$(".info").css('display','none');

		//$(this).css('display', 'block');
		$("#"+tab_id).css('display', 'block');
		
	});
	

</script>
<script type="text/javascript"th:inline="javascript">
      /*<![CDATA[*/
      function addToCart(flag,idx) {
         var isAdmin = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
         if (!isAdmin) {
            Swal.fire({
               title: '로그인이 필요한 활동입니다.',
               text: "로그인 페이지로 이동하시겠습니까?",
               icon: 'info',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: '네',
               cancelButtonText: '아니요'
            }).then((result) => {
               if (result.isConfirmed) {
                  location.href = "/member/login";
               }
            })
            return;
         }
         var pamounts = [];
         var pids = [];
		 if(flag){
		let ckItem = $("input[name=cartlist]:checked");
         $(ckItem).each(function () {
            var pos = $(this).prop('id').split('_')[1];
            var pid = $('#' + pos).data('value');
            var quantity = $("#quantity_" + pos).val();
            pids.push(pid);
            pamounts.push(quantity);
         })
		 }else {
			
			var pid = $("#" + idx).data("value");
			 var quantity = $("#quantity_" + idx).val();
			 pids.push(pid);
			 pamounts.push(quantity);
	   }
         $.ajax({
            url: '/capi/insert',
            beforeSend: function (xhr) {
               xhr.setRequestHeader(header, token);
            },
            type: 'post',
            contentType: "application/json",
            data: JSON.stringify({
               pids: pids,
               pamounts: pamounts
            }),
            success: function (result) {
				console.log(result);
				if(result.result==null)  showModal(result,true);
				else showModal(result,flag);
               

            }, error: function (err, xhr, status) {

               if (err.status == 405 || err.status == 400) {
                  customConfirm('장바구니에 존재하는 상품입니다.', '확인하러 이동하기', '장바구니로', '아니요');
               }
            }
         })
      };


   /*]]>*/
</script>	
				
</body>

</html>