<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="includes/headTag :: head_tag"></th:block>
<link rel="stylesheet" type="text/css" href="/css/main1.css">
<link rel="stylesheet" type="text/css" href="/css/main2.css">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">
<script type="text/javascript">
	$(document).ready(function () {
		$(".tab_class_cs").on("click", function () {
			$(".tab_class").removeClass("selected");
			$(this).addClass("selected");
		});

		$(".tab_class").on("click", function () {
			$(".tab_class_cs").removeClass("selected");
			$(this).addClass("selected");
		});
	});
</script>


<body>

	<th:block th:replace="includes/header :: header1"></th:block>
	<th:block th:replace="includes/header :: header2"></th:block>
	<th:block th:replace="includes/header :: header3"></th:block>

	<div id="wrap">
		<div id="container">
			<div id="contents">
				<div class="myshop-wrap" style=" padding-top:12px;">

					<div class="xans-element- xans-myshop xans-myshop-asyncbenefit header" style="padding-bottom: 0px;">
					</div>

					<!-- myshop-layout -->
					<div class="myshop-layout">
						<!-- menu-block -->
						<div class="menu-block">
							<ul>
								<li class="js-order active"><a href="/mypage/order" style="color: #9A9A9A;">주문내역</a></li>
								<li><a href="/mypage/class" style="color: black;font-weight: bold;">수강 내역</a></li>
								<li onclick="logoutSubmit();"><a href="javascript:void(0)">로그아웃</a></li>
							</ul>

							<form id="logoutFrm" action="/member/logout" method="post">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							</form>
						</div>


						<!-- contents-block -->
						<div class="contents-block">

							<div class="title-block">
								<h2>나의 수강내역</h2>
							</div>

							<nav id=tab-button-nav>
               
							</nav>
						
							<!-- 날짜 검색 -->

							<form method="GET" id="OrderHistoryForm" name="OrderHistoryForm">
								
								<div class="xans-element- xans-myshop xans-myshop-orderhistoryhead order-search-block " style="margin-top: 15px; margin-bottom: 15px;">
									<ul class="period-rage">
										<li><a onclick="classSt('1');"  style="border-radius: 20px;">전체</a></li>
										<li><a onclick="classSt('2');"  style="border-radius: 20px;">학습중</a></li>
										<li><a onclick="classSt('3');"  style="border-radius: 20px;">강의 예정</a></li>
									</ul>
								</div>
								
								<input id="mode" name="mode" value="" type="hidden"> <input id="term" name="term" value="" type="hidden">
							</form>

							<section id="tab-section-1" class="tab-section">
								<div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem order-list">
											<div class="">
												<div class="items-block xans-record- itemlist">
													<div class="item-header ">
														<ul class="info-block">
															<li class="first">
																<ul>
																	<li>수업 목록</li>
																</ul>
															</li>
															<li class="last only-pc"></li>
														</ul>
													</div>
													<!--반복 시작  -->
													<div th:if="${#lists.isEmpty(classList)}" class="block" >
															<div style="padding: 150px;text-align: center;"><p style="word-break: keep-all;">수강한 수업 내역이 없습니다.</p></div>
													</div>
													<div class="item-prod" th:each="list : ${classList}">
														<div class="block">
															<div class="thumb">
																<a><img th:src="${list.lcimg}" alt=""  style="height: 76px; width: 102px"></a>
															</div>
															<div class="item-desc">
																<div class="detail">
                                  									<div class="option" th:text="${list.wholeDate}">강의 날짜</div>
																	<div class="quantity text-center" th:text="${list.lcname}" style="font-weight: bold; padding-top: 5px;">주윤옥(전통요리연구가)</div>
																</div>
															</div>
														</div>
														<div class="status">
																<div th:if=${list.lcstatus}==0>
																<button id="hambtn" type="button" class="btn btn-sm btn-gray btn-pd16" style="cursor:default" disabled >
																	<div th:if=${list.lcstatus}==0><span>강의 예정</span></div>
																</button>
																</div>
																<div th:if=${list.lcstatus}==2>
																<button id="hambtn" type="button" class="btn btn-sm btn-gray btn-pd16" style="background-color: #116530;border: 1px solid #116530;">
																	<div th:if=${list.lcstatus}==2 th:onclick="moveVideo(2,[[${list.lcid}]])"><span style="color: white;">강의 보기</span></div>
																</button>
																</div>
																<div th:if=${list.lcstatus}==1>
																<button id="hambtn" type="button" class="btn btn-sm btn-gray btn-pd16" style="background-color: #ff6913;border : 1px solid #ff6913">
																	<div th:if=${list.lcstatus}==1 th:onclick="moveVideo(1,[[${list.lcid}]])"><span style=" color: white; font-weight: bold;">ON - AIR</span></div>
																</button>
																</div>
																<button id="hambtn" type="button" class="btn btn-sm btn-gray btn-pd16" th:onclick="moveClassDetail([[${list.lcid}]])">
																	<span>상세 보기</span>
																</button>
														</div>
													</div>
													
													
												</div>
											</div>
									</div>
								</section>
							</div>
						<!-- // contents-block -->
					</div>
					<!-- // myshop-layout -->
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="includes/footer :: footer"></th:block>



	<script th:inline="javascript">
	/*<![CDATA[*/	
		function classSt(e){
			
			var classList = /*[[${classList}]]*/ false;
			
			const classStatus = e;
			if(classStatus==1){
				for(let i=0; i< list.length; i++){
					console.log(list[i].lcstatus);
					
				}
				
			}else if(classStatus==2){
				for(let i=0; i< list.length; i++){
					console.log(list[i].lcstatus);
					if(list[i].lcstatus==2){
						
						
					}
					
				}
				
				
			}else if(classStatus==3){
				for(let i=0; i< list.length; i++){
					console.log(list[i].lcstatus);
					if(list[i].lcstatus==0){
						
					}
					
				}
			}
			
		}
		 /*]]>*/
	</script>
	
	
	<script>
		function moveClassDetail(lcid){
			location.href="/class/detail/"+lcid;
		}
	
		
		
		
	
		const $nav = document.querySelector('#tab-button-nav')
		const $sections = document.querySelectorAll('.tab-section');

		$nav.addEventListener('click', (e) => {
			if (!e.target.classList.contains('tab-button')) {
				return;
			}

			const selectedTab = e.target.dataset.tabSection;

			$sections.forEach(($section) => {
				if ($section.id === selectedTab) {
					$section.removeAttribute('hidden');
				} else {
					$section.setAttribute('hidden', true);
				}
			});
		});
	</script>

<script type="text/javascript">
	function moveVideo(lcstatus,lcid) {
		
		if(lcstatus=='1'){//라이브 서버로 연결
			location.href='http://112.221.184.62:50021';
		}else if(lcstatus =='2'){//vod 서비스로 연결
			location.href='/class/video/'+lcid;
		}
	}
</script>

<script type="text/javascript">



</script>


</body>


</html>