<html
	lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
	class=""
>
<head>
<meta charset="utf-8" />
<meta
	name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no"
/>
<meta
	name="format-detection"
	content="telephone=no"
/>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge"
/>
<meta
	name="description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="keywords"
	content="키워드"
/>
<link
	rel="canonical"
	href="SITE URL"
/>
<meta
	property="og:title"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	property="og:type"
	content="website"
/>
<meta
	property="og:url"
	content="SITE URL"
/>
<meta
	property="og:image"
	content="이미지"
/>
<meta
	property="og:site_name"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	property="og:description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="twitter:card"
	content="summary"
/>
<meta
	name="twitter:title"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	name="twitter:description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="twitter:image"
	content="이미지"
/>
<meta
	itemprop="image"
	content="이미지"
/>
<link
	rel="shortcut icon"
	href="/favicon.ico"
	type="image/x-ico"
/>
<title>Hart</title>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/default.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/js/font-awesome/css/font-awesome.min.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/main_header.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/main.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/footer.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/slick/slick.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/slick/slick-theme.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/noto_font/NotoSansKR.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/aos/dist/aos.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/skin/board/vote/style.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/header_sub.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/sub.css?ver=210618"
/>
<script src="https://gsshopecorecipe.com/js/jquery-1.12.4.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/jquery-migrate-1.4.1.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/jquery.menu.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/common.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/wrest.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/placeholders.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/slick/slick.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/custom_js.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/aos/dist/aos.js?ver=210618"></script>
</head>
<body class="subpage">
	<link
		rel="stylesheet"
		href="/css/bootstrap.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/font-awesome.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/elegant-icons.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/magnific-popup.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/nice-select.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/owl.carousel.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/slicknav.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/style.css"
		type="text/css"
	/>
	<a
		href="#"
		id="btnGogoTop"
		class="rmenu_top"
		style="display: none"
	><span class="glyphicon glyphicon-menu-up"></span></a>
	<style>
#floatdiv {
	position: absolute;
	width: 120px;
	height: 600px;
	margin-left: -750px;
	background: transparent;
	left: 50%;
	top: 250px;
}

@media ( max-width : 1500px) {
	#floatdiv {
		display: none;
	}
}

@media ( max-width : 1400px) {
	.partners_banner {
		display: none;
	}
}

.tagit {
	margin: 0 0 0 0 !important;
	padding: 5px 8px !important;
	border-radius: 0 !important;
}

.note-editor .note-dropzone {
	opacity: 0 !important;
}

ul.tagit {
	width: 620px;
	vertical-align: middle;
}

ul.tagit input[type="text"] {
	width: 100%;
	height: 30px;
}

.content_area .content_inner {
	padding-right: 0px;
}
</style>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<article
		id="bo_v"
		class="full_container sub_section"
		style="width: 100%"
	>
		<div class="inner_container">
			<h3
				class="title"
				th:text="${detail.crid+'번 레시피'}"
			>레시피 투표하기</h3>
			<!--동영상 영역-->
			<div class="video_area">
				<div
					class="video_inner"
					style="text-align: center; padding-top: 0"
				>
					<img
						th:src="@{${'/event/api/display?imgName='+detail.crMimg}}"
						alt=""
					/>
				</div>
			</div>
			<!--//동영상 영역-->
			<!--본문 영역 커스텀-->
			<div class="content_area">
				<div class="content_inner">
					<h2 th:text="${detail.crtitle}"></h2>
					<div>
						<div th:text="${detail.crdetail}"></div>
						<br /> <br /> [난이도] <br /> <br />
						<div th:text="${detail.crlevel==1 ? '쉬움' : '보통'}"></div>
						<br /> [예상 조리 시간]<br /> <br />
						<div th:text="${detail.crtime==30 ? '30분 이내' : '90분 이내'}"></div>
						<br /> [준비 재료]<br /> <br />
						<div th:each="item : ${detail.crecipeIngredientVo}">
							<div style="display: flex">
								<div th:text="${item.iname}">제품 이름</div>
								<div>&nbsp;</div>
								<div th:text="${item.cricount}">수량</div>
							</div>
						</div>
						<br /> <br /> [요리 순서]
						<div th:each="item, idx: ${detail.crecipeContent}">
							<br />
							<div style="display: flex">
								<div
									th:text="${item.step }"
									style="margin-right: 30px"
								></div>
								<div th:text="${item.crcdetail}"></div>
							</div>
							<br /> <img
								th:src="@{${'/event/api/display?imgName='+item.crimg}}"
								alt=""
							/> <br /> <br />
						</div>
					</div>
				</div>
			</div>
			<!-- 게시판 버튼-->
			<div id="bo_V_bottom">
				<ul class="btn_bo_user bo_v_com">
					<li><a
						href="javascript:void(0)"
						class="btn_b01"
						onclick="PrintDiv($('body'));"
						style="background: #116530; border: 0px;"
					>이미지 저장</a></li>
					<!-- 이미지를 프린트 할 수 있는 버튼 -->
					<li><a
						href="javascript:void(0)"
						class="btn_b01"
						onclick="window.print();"
						style="background: #116530; border: 0px;"
					>프린트</a></li>
				</ul>
			</div>
			<!-- 게시판 버튼 끝-->
		</div>
	</article>
	<form
		name="votelist"
		id="votelist"
		th:action="@{/event/vote}"
		method="post"
	>
		<input
			type="hidden"
			name="evid"
			id="evid"
			th:value="${detail.evid}"
		/> <input
			type="hidden"
			name="crid"
			id="crid"
		/>
	</form>
	<script>
		function voting(e) {
			let crid = $(e).data("crid");
			$("#crid").val(crid);
			$("#votelist").submit();
		}

		function PrintDiv(div) {
			div = div[0];
			html2canvas(div).then(function(canvas) {
				// <h3 class="title" th:text="${detail.crid+'번 레시피'}">레시피 투표하기</h3> 이 태그를 선택하는 제이쿼리
				var title = $(".title").text();
				console.log(title);
				var myImage = canvas.toDataURL();
				downloadURI(myImage, title);
			});
		}

		function downloadURI(uri, name) {
			var link = document.createElement("a");
			link.download = name;
			link.href = uri;
			document.body.appendChild(link);
			link.click();
		}
	</script>
	<script src="/js/html2canvas.js"></script>
</body>
</html>
