<tr id="0" data-value="S02102033360">
	<td class="product__cart__item">
		<div class="product__cart__item__pic"><span class="thumb"><input name="cartlist" id="check_0" type="checkbox"
					class="checkbox"><img class="pimg"
					src="https://tohomeimage.thehyundai.com/PD/PDImages/S/9/9/5/8806079144599_00.jpg?RS=720x864" alt=""
					style="width:90px; height:90px;"></span></div>
		<div class="product__cart__item__text">
			<h6>[7대산지] 원주 조엄 고구마 700g</h6><span class="price-box">
				<h5 class="price" id="price_0" data-value="9000">9,000원</h5>
			</span>
		</div>
	</td>
	<td class="quantity__item">
		<div class="quantity">
			<div class="pro-qty-2"><span data-value="0" class="fa fa-angle-left dec qtybtn btn_minus"
					aria-hidden="true"></span><input id="quantity_0" type="text" value="1" readonly="readonly"><span
					data-value="0" class="fa fa-angle-right inc qtybtn btn_plus" aria-hidden="true"></span></div>
		</div>
	</td>
	<td data-value="9000" class="cart__price" id="cprice_0">9,000원</td>
	<td class="cart__close"><i class="fa-solid fa-x fa-xl" style="color: #000000;"></i></td>
</tr>