<tr id="0" data-value="S02212141400">
	<td class="product__cart__item">
		<div class="product__cart__item__pic"><span class="thumb"><input name="cartlist" id="check_0" type="checkbox"
					class="checkbox"><img class="pimg"
					src="https://tohomeimage.thehyundai.com/PD/PDImages/S/4/9/2/2810000125294_00.jpg?RS=720x864" alt=""
					style="width:90px; height:90px;"></span></div>
		<div class="product__cart__item__text">
			<h6>[새벽시장] 아리향 딸기 (350g/1단)</h6><span class="price-box">
				<h5 class="price" id="price_0" data-value="16000">₩16,000</h5>
			</span>
		</div>
	</td>
	<td class="quantity__item">
		<div class="quantity">
			<div class="pro-qty-2"><span data-value="0" class="fa fa-angle-left dec qtybtn btn_minus"
					aria-hidden="true"></span><input id="quantity_0" type="text" value="1" readonly="readonly"><span
					data-value="0" class="fa fa-angle-right inc qtybtn btn_plus" aria-hidden="true"></span></div>
		</div>
	</td>
	<td data-value="16000" class="cart__price" id="cprice_0">₩16,000</td>
	<td class="cart__close"><i class="fa-solid fa-x fa-xl" style="color: #000000;"></i></td>
</tr>