<html
	lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
	class=""
>
<!--[endif]-->
<head>
<meta
	http-equiv="Content-Type"
	content="text/html; charset=utf-8"
/>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=Edge"
/>
<meta
	http-equiv="Pragma"
	content="no-cache"
/>
<meta
	http-equiv="Expires"
	content="-1"
/>
<meta
	property="fb:pages"
	content="1567451316868458"
/>
<meta
	name="description"
	content="국내 No.1 요리앱, 10만개 이상의 레시피, 편리한 검색, 맛보장 레시피, TV쿡방 레시피, 온라인 최저가 쇼핑, 요리 공모전"
/>
<meta
	name="keywords"
	content=""
/>
<meta
	name="google-site-verification"
	content="3eLg1zfxeZ_oO6oOOsvIxbtcW-FtDsViPVm7-CYOl8w"
/>
<meta
	name="p:domain_verify"
	content="1f5cc8d2183836842bd3db03bc960620"
/>
<meta
	name="user_id"
	content="62988317"
/>
<title>HART</title>
<!-- LOGGER(TM) TRACKING SCRIPT V.40 FOR logger.co.kr / 39580 : COMBINE TYPE / DO NOT ALTER THIS SCRIPT. -->
<!-- END OF LOGGER TRACKING SCRIPT -->
</head>
<body class="">
	<th:block th:replace="/includes/header :: header1"></th:block>
	<th:block th:replace="/includes/header :: header2"></th:block>
	<th:block th:replace="/includes/header :: header3"></th:block>
	<link
		rel="stylesheet"
		href="/css/bootstrap.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/font-awesome.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/elegant-icons.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/magnific-popup.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/nice-select.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/owl.carousel.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/slicknav.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/style.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/bootstrap_20211222.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/font_20221221.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/font-awesome.min.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/ez_recipe_20220629.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<a
		href="#"
		id="btnGogoTop"
		class="rmenu_top"
		style="display: none"
	><span class="glyphicon glyphicon-menu-up"></span></a>
	<div
		class="gnb"
		style="position: relative"
	>
		<script
			async=""
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1557771002660658"
			crossorigin="anonymous"
		></script>
		<style>
#floatdiv {
	position: absolute;
	width: 120px;
	height: 600px;
	margin-left: -750px;
	background: transparent;
	left: 50%;
	top: 250px;
}

@media ( max-width : 1500px) {
	#floatdiv {
		display: none;
	}
}

@media ( max-width : 1400px) {
	.partners_banner {
		display: none;
	}
}

.tagit {
	margin: 0 0 0 0 !important;
	padding: 5px 8px !important;
	border-radius: 0 !important;
}

.note-editor .note-dropzone {
	opacity: 0 !important;
}

ul.tagit {
	width: 620px;
	vertical-align: middle;
}

ul.tagit input[type="text"] {
	width: 100%;
	height: 30px;
}
</style>
	</div>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<h2>내 요리 기술 뽐내기</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<!-- About Section Begin -->
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="about__pic">
						<img
							src="/img/event.png"
							alt=""
							usemap="#imagemap"
						>
						<map
							name="imagemap"
							id="imagemap"
						>
							<area
								alt="이벤트 참여하기"
								title="이벤트 참여하기"
								href="/event/upload"
								coords="480,508,664,576"
								shape="rect"
							>
							<area
								alt="투표하기"
								title="투표하기"
								href="/event/vote"
								coords="696,508,888,584"
								shape="rect"
							>
						</map>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="about__item">
						<h4>기간</h4>
						<p>- 응모 : 2023년 2월 1일 ~ 2월 28일</p>
						<p>- 투표 기간 : 2023년 2월 1일 ~ 2월 28일</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="about__item">
						<h4>선정 기준</h4>
						<p>주제에 맞는 레시피의 재료계량, 과정 설명, 과정 이미지가 잘 된 레시피와 아이디어가 돋보이는 레시피 대상으로 취합하여 후보를 선정 합니다</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="about__item">
						<h4>안내사항</h4>
						<p>- 공모전 요리 주제에 맞는 레시피를 등록해주세요.</p>
						<p>- 주제와 맞지 않는 레시피는 수상 목록에서 제외될 수 있습니다.</p>
						<p>- 당첨자 발표는 따로 하지 않습니다.</p>
						<p>- TV레시피는 수상대상에서 제외됩니다.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Section End -->
	<th:block th:replace="/includes/footer :: footer"></th:block>
</body>
<whale-quicksearch translate="no"></whale-quicksearch>
</html>
