<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--[endif]-->
<head>
<title>HART</title>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon.png"
	rel="apple-touch-icon"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-76x76.png"
	rel="apple-touch-icon"
	sizes="76x76"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-120x120.png"
	rel="apple-touch-icon"
	sizes="120x120"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-152x152.png"
	rel="apple-touch-icon"
	sizes="152x152"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-180x180.png"
	rel="apple-touch-icon"
	sizes="180x180"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/icon-hires.png"
	rel="icon"
	sizes="192x192"
/>
<link
	href="https://recipe1.ezmember.co.kr/img/icons/icon-normal.png"
	rel="icon"
	sizes="128x128"
/>
<script
	type="text/javascript"
	src="https://recipe1.ezmember.co.kr/static/js/jquery-1.11.2.min.js"
	charset="utf-8"
></script>
<script
	async=""
	src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
></script>
<!-- LOGGER(TM) TRACKING SCRIPT V.40 FOR logger.co.kr / 39580 : COMBINE TYPE / DO NOT ALTER THIS SCRIPT. -->
<!-- END OF LOGGER TRACKING SCRIPT -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link
	rel="stylesheet"
	href="@sweetalert2/theme-bulma/bulma.css"
>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body
	class=""
	style="background: #ffffff;"
>
	<th:block th:replace="includes/header :: header1"></th:block>
	<th:block th:replace="includes/header :: header2"></th:block>
	<th:block th:replace="includes/header :: header3"></th:block>
	<link
		rel="stylesheet"
		href="/css/bootstrap.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/font-awesome.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/elegant-icons.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/magnific-popup.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/nice-select.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/owl.carousel.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/slicknav.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/style.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/bootstrap_20211222.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/font_20221221.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/font-awesome.min.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/ez_recipe_20220629.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<script
		type="text/javascript"
		src="https://recipe1.ezmember.co.kr/static/js/jquery-ui-1.11.4.js"
		charset="utf-8"
	></script>
	<script
		type="text/javascript"
		src="https://recipe1.ezmember.co.kr/static/js/tag-it.min.js"
		charset="utf-8"
	></script>
	<script
		type="text/javascript"
		src="https://recipe1.ezmember.co.kr/static/js/ez_dialog.min_20160430.js"
		charset="utf-8"
	></script>
	<script
		type="text/javascript"
		src="https://recipe1.ezmember.co.kr/static/js/coreutil.min_20170112.js"
		charset="utf-8"
	></script>
	<script
		type="text/javascript"
		src="https://recipe1.ezmember.co.kr/static/js/ui.min_20150609.js"
		charset="utf-8"
	></script>
	<a
		href="#"
		id="btnGogoTop"
		class="rmenu_top"
		style="display: none"
	><span class="glyphicon glyphicon-menu-up"></span></a>
	<div
		class="gnb"
		style="position: relative"
	>
		<script
			async=""
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1557771002660658"
			crossorigin="anonymous"
		></script>
		<style>
#floatdiv {
	position: absolute;
	width: 120px;
	height: 600px;
	margin-left: -750px;
	background: transparent;
	left: 50%;
	top: 250px;
}

@media ( max-width : 1500px) {
	#floatdiv {
		display: none;
	}
}
</style>
		<script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        var floatPosition = parseInt($("#floatdiv").css("top"));
        $(window)
          .scroll(function () {
            var currentTop = $(window).scrollTop();
            if (currentTop > 200) var bannerTop = currentTop - 200 + floatPosition + "px";
            else var bannerTop = floatPosition + "px";

            $("#floatdiv").stop().animate(
              {
                top: bannerTop,
              },
              500
            );
          })
          .scroll();
      </script>
	</div>
	<style>
@media ( max-width : 1400px) {
	.partners_banner {
		display: none;
	}
}
</style>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<style>
.tagit {
	margin: 0 0 0 0 !important;
	padding: 5px 8px !important;
	border-radius: 0 !important;
}
</style>
	<style>
.note-editor .note-dropzone {
	opacity: 0 !important;
}

ul.tagit {
	width: 620px;
	vertical-align: middle;
}

ul.tagit input[type="text"] {
	width: 100%;
	height: 30px;
}

.cont_box input {
	background: "#ffffff" !important;
}
</style>
	<form
		name="insFrm"
		id="insFrm"
		method="post"
		th:action="@{/event/upload}"
		enctype="multipart/form-data"
	>
		<input
			type="hidden"
			name="crmingredient"
			th:value="${event.crmingredient}"
		/> <input
			type="hidden"
			name="evid"
			th:value="${event.evid}"
		/> <input
			type="hidden"
			name="mid"
			id="mid"
			th:value="${#authentication.principal.mid}"
		/>
		<div
			class="container recipe_regi"
			style="padding-top: 40px; border-top: 1px solid"
		>
			<div class="regi_center">
				<div
					class="regi_title"
					style="background: #fff"
				>레시피 등록</div>
				<div class="cont_box pad_l_60">
					<div
						id="divMainPhotoUpload"
						class="cont_pic2"
					>
					<input
							type="hidden"
							name="new_main_photo"
							id="new_main_photo"
							value=""
						/>
						<!-- <input type="hidden" name="del_main_photo" id="del_main_photo" value="" /> -->
						<div style="position: absolute; left: -3000px">
							<input
								type="file"
								name="crMimg"
								data-name="요리 대표 사진"
								id="crMimg"
								file_gubun="main"
								accept="jpeg,png,gif"
								style="width: 0px; height: 0px; font-size: 0px"
								text=""
							/>
						</div>
						<div
							id="divMainPhotoBox"
							is_over="0"
						>
							<img
								id="mainPhotoHolder"
								onclick="clickMainImg()"
								src="https://recipe1.ezmember.co.kr/img/pic_none4.gif"
								style="width: 250px; height: 250px; cursor: pointer"
							/>
						</div>
					</div>
					<div class="cont_line">
						<p class="cont_tit4">레시피 제목</p>
						<input
							type="text"
							name="crtitle"
							id="crtitle"
							data-name="레시피 제목"
							value=""
							class="form-control"
							placeholder="예) 사과를 곁들인 이베리코 스테이크"
							style="width: 610px; background: #ffffff;"
						/>
					</div>
					<div class="cont_line pad_b_25">
						<p class="cont_tit4">내 용</p>
						<input
							name="crdetail"
							id="crdetail"
							data-name="내용"
							class="form-control step_cont"
							placeholder="이 레시피 소개글을 적어주세요. 예) 도토리를 먹여 키운 베요타 등급 이베리코는 특유의 견과류 같은 향을 갖고 있습니다. "
							style="height: 100px; width: 610px; resize: none; background: #ffffff;"
						/>
					</div>
					<div
						class="cont_line"
						style="display: flex; align-items: center; flex-wrap: wrap"
					>
						<p class="cont_tit4">카테고리</p>
						<select
							name="crcategory"
							title="crcategory"
							id="crcategory"
							text="종류별"
							style="margin-left: 20px"
						>
							<option value="">종류별</option>
							<option value="1">구이</option>
							<option value="2">밥/죽</option>
							<option value="3">반찬</option>
							<option value="4">국/탕/찌개</option>
							<option value="5">부침/조리/무침</option>
							<option value="6">디저트</option>
							<option value="7">면</option>
							<option value="8">볶음</option>
							<option value="9">빵</option>
							<option value="10">음료/술</option>
							<option value="11">샐러드</option>
							<option value="12">기타</option>
						</select> <span
							class="guide"
							style="margin: 0 0 0 146px"
						>분류를 바르게 설정해주시면, 이용자들이 쉽게 레시피를 검색할 수 있어요.</span>
					</div>
					<div
						class="cont_line"
						style="display: flex; align-items: center"
					>
						<p class="cont_tit4">요리 정보</p>
						<select
							name="crtime"
							id="crtime"
							text="요리시간"
						>
							<option value="">시간</option>
							<option value="30">30분이내</option>
							<option value="90">90분이내</option>
						</select> <select
							name="crlevel"
							id="crlevel"
							text="난이도"
						>
							<option value="">난이도</option>
							<option value="쉬움">쉬움</option>
							<option value="보통">보통</option>
						</select>
					</div>
				</div>
				<!--/cont_box-->
				<div class="cont_box pad_l_60">
					<p class="cont_tit4">요리 재료</p>
					<span
						class="guide mag_b_15"
						style="width: 100%"
					>재료가 남거나 부족하지 않도록 정확한 계량정보를 적어주세요.</span>
					<div
						class="mag_b_25 ui-sortable"
						id="divMaterialGroupArea"
					>
						<li
							id="liMaterialGroup_1"
							style="display: flex; flex-direction: column; align-items: center"
						>
							<ul
								id="divMaterialArea_1"
								class="ui-sortable"
							></ul>
							<div class="btn_add">
								<button
									type="button"
									class="btn btn-default"
									id="add_material_btn"
									style="width: 137px; height: 49px; background: #116530; color: #ffffff;"
								>
									<span class="glyphicon"></span>추가
								</button>
							</div>
						</li>
					</div>
				</div>
				<!--/cont_box-->
				<div class="cont_box pad_l_60">
					<p class="cont_tit3">요리순서</p>
					<span class="guide mag_b_15"><b>요리의 맛이 좌우될 수 있는 중요한 부분은 빠짐없이 적어주세요.</b><br /> 예) 10분간 익혀주세요 ▷ 10분간 약한불로 익혀주세요.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;마늘편은 익혀주세요 ▷ 마늘편을 충분히 익혀주셔야 매운 맛이 사라집니다.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;꿀을 조금 넣어주세요 ▷ 꿀이 없는 경우, 설탕 1스푼으로 대체 가능합니다. </span>
					<div
						id="divStepArea"
						class="ui-sortable"
					>
						<div
							id="divStepItem_1"
							class="step"
						>
							<input
								type="hidden"
								name="crstep"
								value="1"
							/>
							<p
								id="divStepNum_1"
								class="cont_tit2_1 ui-sortable-handle"
								style="cursor: pointer; color: #116530;"
								data-original-title=""
								title=""
							>Step1</p>
							<div
								id="divStepText_1"
								style="display: inline-block"
							>
								<input
									name="crcdetail"
									data-name="요리순서의 설명"
									id="step_text_1"
									class="form-control step_cont"
									placeholder="예) 소고기는 기름기를 떼어내고 적당한 크기로 썰어주세요."
									style="height: 160px; width: 650px; resize: none; background: #ffffff;"
								/>
							</div>
							<div
								id="divStepUpload_1"
								style="display: inline-block"
							>
								<!-- <input type="hidden" name="step_no[]" id="step_no_1" value="" />  -->
								<input
									type="hidden"
									name="step_photo[]"
									data-name="요리순서의 사진"
									id="step_photo_1"
									value=""
								/> <input
									type="hidden"
									data-name="요리순서의 사진1"
									name="new_step_photo[]"
									id="new_step_photo_1"
									value=""
								/>
								<div style="position: absolute; left: -3000px">
									<input
										type="file"
										name="crimg"
										data-name="요리순서의 사진22"
										id="q_step_file_1"
										file_gubun="step"
										accept="jpeg,png,gif"
										style="width: 0px; height: 0px; font-size: 0px"
										text=""
									/>
								</div>
								<div
									id="divStepPhotoBox_1"
									is_over="0"
								>
									<img
										id="stepPhotoHolder_1"
										onclick="clickStepImg(1)"
										src="https://recipe1.ezmember.co.kr/img/pic_none2.gif"
										width="160"
										height="160"
										style="cursor: pointer"
									/>
								</div>
							</div>
							<div
								id="divStepBtn_1"
								class="step_btn"
								style="display: none"
							>
								<a href="javascript:delStep(1)"><span class="glyphicon glyphicon-remove"></span></a>
							</div>
						</div>
					</div>
					<div class="btn_add mag_b_25">
						<button
							type="button"
							class="btn btn-default"
							id="add_material_btn2"
							onclick="addMaterial_btn2()"
							style="width: 137px; height: 49px; background: #116530; color: #ffffff;"
						>
							<span class="glyphicon"></span>순서추가
						</button>
					</div>
				</div>
				<!--/cont_box-->
				<!--/cont_box-->
				<!--/cont_box-->
			</div>
			<!--/regi_center-->
			<div class="regi_btm">
				<button
					id="btnSubmit"
					class="btn-lg btn-primary"
					style="width: 139px; height: 49px; background: #116530; color: #ffffff;"
				>저장</button>
				<button
					type="button"
					onclick="history.back();"
					class="btn-lg btn-default"
					style="width: 139px; height: 49px; background: #fff; color: #116530; border: solid 1px #116530;"
				>취소</button>
			</div>
		</div>
		<!-- /container -->
	</form>
	<div
		id="divAutoMaterialModal"
		class="modal fade"
		style="display: none"
		aria-hidden="true"
	>
		<div
			class="modal-dialog"
			style="width: 700px"
		>
			<div class="modal-content new_folder">
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true"><img
							src="https://recipe1.ezmember.co.kr/img/btn_close.gif"
							alt="닫기"
						/></span>
					</button>
					<h4
						class="modal-title text-left"
						id="auto_material_title"
						group_idx="1"
					>[재료] 한번에 넣기</h4>
				</div>
				<div
					class="modal-body"
					style="padding: 5px"
				>
					<dl class="blog_select">
						<dt style="padding: 10px 0 5px 0; font-size: 17px; text-align: center">요리에 들어갈 재료, 양념을 작성 또는 따로 작성된 것을 복사/붙여넣기 해주세요.</dt>
						<dd>
							<input
								id="q_auto_material"
								class="form-control step_cont"
								data-name="요리순서의 설명"
								placeholder="<예시>
[스테이크 재료] 돼지고기 500g, 양파 1/2개, 고추 1개, 간장
[파절임] 대파 3개, 고춧가루 1숟가락, 매실엑기스 3숟가락, 식초 3숟가락
[양념] 고춧가루 2T, 진간장 1T, 참치액 1T, 참기름 1T, 매실액 1T, 통깨 "
								style="height: 120px; width: 620px; resize: none"
								group_idx=""
							/>
							<p style="font-size: 15px; line-height: 1.8; padding: 15px 0 0 15px; margin: 0">
								*재료가 남거나 부족하지 않도록 <strong>정확히</strong> 작성 <br /> *각 식재료는 <strong>","쉼표로</strong> 구분 <br /> *한개, 반개, 한개반과 같은 표기는 1개, <strong>1/2개, 1+1/2개(또는 1.5개)</strong>와 같이 작성 <br /> *재료 및 양념, 소스 등을 구분할 경우 <strong>"[]"대괄호를 사용</strong> <br /> *입력란에 작성된 <strong>예시를 참고</strong>
							</p>
						</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						id="btnAutoMaterialConfirm"
						class="btn-lg btn-primary"
						rel="popover_blog"
						is_action=""
					>확인</button>
					<button
						type="button"
						class="btn-lg btn-default"
						data-dismiss="modal"
					>취소</button>
				</div>
				<p style="text-align: center; padding: 0 0 20px 0">
					<img src="https://recipe1.ezmember.co.kr/img/img_use.gif" />
				</p>
			</div>
		</div>
	</div>
	<script>
      $(function () {
        $("#btnRecipeIdGuide").click(function () {
          $("#recipeIdGuideModal").modal("show");
        });
        $("#btnRecipeInsertGuide").click(function () {
          $("#recipeInsertGuideModal").modal("show");
        });
        $("#recipeInsertGuideModal").on("show.bs.modal", function () {
          var objId = "";
          switch ($("#cok_reg_type").val()) {
            case "input":
              objId = "headingOne";
              break;
            case "import":
              objId = "headingTwo";
              break;
            case "edit":
              objId = "headingThree";
              break;
          }
          if (
            !$("#" + objId)
              .collapse()
              .hasClass("in")
          ) {
            setTimeout(function () {
              $("#" + objId).trigger("click");
            }, 500);
          }
        });

        $("#btnRecipeInsertQnA").click(function () {
          if (confirm("문의하기 페이지로 이동되며\n저장하지 않은 글은 사라집니다.\n\n이 페이지에서 나가시겠습니까?")) {
            location.href = "/customer/insert.html?bid=3";
          }
        });
      });

      function openStepGuide() {
        $("#recipeInsertStepGuideModal").modal("show");
      }
    </script>
	<div
		id="recipeIdGuideModal"
		class="modal fade"
	>
		<div
			class="modal-dialog"
			style="width: 1000px"
		>
			<div
				class="modal-content"
				style="padding: 0"
			>
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true"><img
							src="https://recipe1.ezmember.co.kr/img/btn_close.gif"
							alt="닫기"
							width="18px"
							height="18px"
						/></span>
					</button>
					<h4 class="modal-title">레시피ID 활용안내</h4>
				</div>
				<div
					class="modal-body"
					style="padding: 0"
				>
					<div class="guide_tit">
						<img src="https://recipe1.ezmember.co.kr/img/guide_tt2.gif" />
					</div>
					<div class="modal_guide st2">
						<p class="list">
							레시피 마다 <b>숫자로된 고유 ID</b>를 가지고 있습니다.<br /> <span>예시) http://www.10000recipe.com/recipe/6828826</span> <b>맨끝의 숫자</b> 5~7자리가 레시피ID입니다.
						</p>
						<p class="list">
							글 작성 시에 <b>'@'뒤에 레시피ID</b>를 붙이면 해당 레시피 링크가 생성됩니다.<br /> <img src="https://recipe1.ezmember.co.kr/img/guide4_01.jpg" />
						</p>
						<p class="list">
							복사(Ctrl+C) 후 원하는 곳에 붙여넣기(Ctrl+V)하세요.<br /> <img src="https://recipe1.ezmember.co.kr/img/guide4_02.jpg" />
						</p>
					</div>
					<div class="talk_guide">
						<span></span>
						<button
							class="btn btn-default"
							type="button"
							id="btnRecipeInsertQnA"
						>문의하기</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<div
		id="recipeInsertGuideModal"
		class="modal fade"
	>
		<div
			class="modal-dialog"
			style="width: 1000px"
		>
			<div class="modal-content new_folder">
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true"><img
							src="https://recipe1.ezmember.co.kr/img/btn_close.gif"
							alt="닫기"
						/></span>
					</button>
					<h4 class="modal-title text-left">레시피 등록방법</h4>
				</div>
				<div
					class="modal-body"
					style="padding: 0"
				>
					<div class="guide_tit">
						<img src="https://recipe1.ezmember.co.kr/img/guide_tt.gif" />
					</div>
					<div
						class="panel-group"
						id="accordion"
						role="tablist"
						aria-multiselectable="true"
					>
						<div class="panel panel-default">
							<a
								data-toggle="collapse"
								data-parent="#accordion"
								href="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								<div
									class="panel-heading"
									role="tab"
									id="headingOne"
								>
									<span class="guide_icon"><img src="https://recipe1.ezmember.co.kr/img/icon_guide_01.gif" /></span>직접등록하기<i class="btn_arrow"><img src="https://recipe1.ezmember.co.kr/img/icon_arrow1_down.png" /></i>
								</div>
							</a>
							<div
								id="collapseOne"
								class="panel-collapse collapse out"
								role="tabpanel"
								aria-labelledby="headingOne"
							>
								<div
									class="panel-body"
									style="border-top: 1px solid #e6e7e8"
								>
									<img src="https://recipe1.ezmember.co.kr/img/guide1_01.jpg" /> <br /> <img src="https://recipe1.ezmember.co.kr/img/guide1_02.jpg" /> <br /> <img src="https://recipe1.ezmember.co.kr/img/guide1_03.jpg" />
								</div>
							</div>
						</div>
						<!--/panel panel-default -->
						<!--/panel panel-default -->
						<div class="panel panel-default">
							<a
								data-toggle="collapse"
								data-parent="#accordion"
								href="#collapseThree"
								aria-expanded="true"
								aria-controls="collapseThree"
							>
								<div
									class="panel-heading"
									role="tab"
									id="headingThree"
								>
									<span class="guide_icon"><img src="https://recipe1.ezmember.co.kr/img/icon_guide_03.gif" /></span>전문 레시피로 바꾸기<i class="btn_arrow"><img src="https://recipe1.ezmember.co.kr/img/icon_arrow1_down.png" /></i>
								</div>
							</a>
							<div
								id="collapseThree"
								class="panel-collapse collapse out"
								role="tabpanel"
								aria-labelledby="headingThree"
							>
								<div
									class="panel-body"
									style="border-top: 1px solid #e6e7e8"
								>
									<img src="https://recipe1.ezmember.co.kr/img/guide3_01.jpg" /> <br /> <img src="https://recipe1.ezmember.co.kr/img/guide3_02.jpg" /> <br /> <img src="https://recipe1.ezmember.co.kr/img/guide3_03.jpg" />
								</div>
							</div>
						</div>
						<!--/panel panel-default -->
					</div>
					<!--/panel-group -->
					<div class="talk_guide">
						<span>원하시는 답변을 찾지 못하셨다면, Q&amp;A에 문의하여주세요. </span>
						<button
							class="btn btn-default"
							type="button"
							id="btnRecipeInsertQnA"
						>문의하기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		id="recipeInsertStepGuideModal"
		class="modal fade in"
		aria-hidden="false"
	>
		<div
			class="modal-dialog"
			style="width: 1000px"
		>
			<div
				class="modal-content"
				style="padding: 0"
			>
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true"><img
							src="https://recipe1.ezmember.co.kr/img/btn_close.gif"
							alt="닫기"
							width="18px"
							height="18px"
						/></span>
					</button>
					<h4 class="modal-title">단계별 추가 정보 입력</h4>
				</div>
				<div
					class="modal-body"
					style="padding: 0"
				>
					<div class="guide_tit">
						<img src="https://recipe1.ezmember.co.kr/img/guide_tt3.gif" />
					</div>
					<div class="modal_guide st2">
						<img src="https://recipe1.ezmember.co.kr/img/guide5_01.jpg" /> <img
							src="https://recipe1.ezmember.co.kr/img/guide5_02.jpg"
							border="0"
							usemap="#Map_tip"
						/>
						<map name="Map_tip">
							<area
								shape="rect"
								coords="175,581,489,604"
								href="http://www.10000recipe.com/recipe/6851475"
								target="_blank"
								alt="중국집 단골손님 짜장면"
							/>
							<area
								shape="rect"
								coords="147,610,461,633"
								href="http://www.10000recipe.com/recipe/6851952"
								target="_blank"
								alt="대구 명물 납작만두"
							/>
							<area
								shape="rect"
								coords="257,640,572,663"
								href="http://www.10000recipe.com/recipe/6852193"
								target="_blank"
								alt="든든하게 시작하는 아침식사! 참치죽"
							/>
						</map>
						<img src="https://recipe1.ezmember.co.kr/img/guide5_03.jpg" />
					</div>
					<div class="talk_guide">
						<span></span>
						<button
							class="btn btn-default"
							type="button"
							onclick="location.href='/customer/list.html?bid=3'"
						>문의하기</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
<!-- 	<input
		type="hidden"
		name="isRestrict"
		value="false"
	/> -->
	<div
		id="recentRecipeDiv"
		class="container"
	></div>
	<ul
		class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content"
		id="ui-id-1"
		tabindex="0"
		style="display: none; z-index: 10000"
	></ul>
	<span
		role="status"
		aria-live="assertive"
		aria-relevant="additions"
		class="ui-helper-hidden-accessible"
	></span>
	<ul
		class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content tagit-autocomplete"
		id="ui-id-2"
		tabindex="0"
		style="display: none"
	></ul>
	<span
		role="status"
		aria-live="assertive"
		aria-relevant="additions"
		class="ui-helper-hidden-accessible"
	></span>
	<style>
/* modal 스타일 */
#modal {
	position: fixed;
	width: 400px;
	height: 400px;
	border: none;
	background-color: white;
}

#modal::-webkit-scrollbar {
	display: none;
}
/* 닫기 버튼 스타일 */
#closeBtn {
	position: absolute;
	top: 24px;
	right: 15px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

dialog>div>h4, dialog>div>input {
	display: flex;
	margin: auto;
}
/* The Close Button */
#closeBtn {
	color: #aaa;
	display: block;
	margin: auto;
	font-weight: bold;
}

#closeBtn:hover, #closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style-type: none;
}

.cont_box {
	padding: 26px 30px;
	border-bottom: #fff;
	margin: 0 -1px;
}
</style>
	<!-- 대신 dialog 태그로 모달창을 작성합니다. -->
	<dialog id="modal"> <!-- div 태그로 모달창에 표시할 내용을 작성합니다. -->
	<div style="display: flex; flex-direction: column">
		<h4>추천 검색어</h4>
		<input
			type="text"
			id="searchTag"
			placeholder="재료를 입력해주세요."
			style="margin-top: 20px; width: 85%"
		/>
		<ul
			id="suggestions"
			style="width: 85%; margin: auto"
		></ul>
	</div>
	<!-- button 태그로 닫기 버튼을 작성합니다. --> <i
		class="fa-regular fa-xmark fa-2xl"
		id="closeBtn"
	></i> </dialog>
	<script>
      // input 태그와 ul 태그를 선택합니다.
      var input = document.getElementById("searchTag");
      var ul = document.getElementById("suggestions");

      // input 태그에 입력이 변경될 때마다 실행할 함수를 정의합니다.
      function highlight() {
        // input 태그의 값을 가져옵니다.
        var keyword = input.value;
        // ul 태그의 모든 li 태그를 가져옵니다.
        var lis = ul.getElementsByTagName("li");
        // 각 li 태그에 대해 반복합니다.
        for (var i = 0; i < lis.length; i++) {
          // li 태그 안의 a 태그를 선택합니다.
          var a = lis[i].getElementsByTagName("a")[0];
          // a 태그 안의 텍스트를 가져옵니다.
          var text = a.innerText;
          // 텍스트에 keyword가 포함되어 있는지 확인합니다.
          if (text.includes(keyword)) {
            // 포함되어 있다면 텍스트에 span 태그와 style 속성을 추가하여 색상을 변경합니다. 예: <span style="color: red">keyword</span>
            text = text.replace(keyword, "<span style='color: red'>" + keyword + "</span>");
            // a 태그 안의 내용을 변경된 텍스트로 바꿉니다. innerHTML 속성을 사용하여 span 태그가 적용될 수 있도록 합니다.
            a.innerHTML = text;
          } else {
            // 포함되어 있지 않다면 span 태그와 style 속성을 제거하여 원래 색상으로 되돌립니다. 예: keyword
            text = text.replace("<span style='color: red'>" + keyword + "</span>", keyword);
            // a 태그 안의 내용을 변경된 텍스트로 바꿉니다. innerHTML 속성을 사용하여 span 태그가 제거될 수 있도록 합니다.
            a.innerHTML = text;
          }
        }
      }

      // input 태그에 입력이 변경될 때마다 highlight 함수를 실행하도록 이벤트 리스너를 추가합니다. input 이벤트는 키보드 입력뿐만 아니라 마우스나 음성 등으로도 입력이 가능하므로 keyup 이벤트보다 더 일반적입니다.
    </script>
	<script>
      function deletBtn(e) {
        $(e).closest("li").remove();
      }
      $(document).ready(function () {
        // 삭제 버튼 클릭 이벤트
        $("#divMaterialArea_1").on("click", ".btn-del", function () {
          $(this).closest("li").remove();
        });

        $("#add_material_btn2").on("click", function () {
          alert("dsfsdf");
          const divStepArea = document.querySelector("#divStepArea");
          const stepNum = divStepArea.children.length + 1;

          const newStepItem = `
                      <div id="divStepItem_${stepNum}" class="step">
                        <input type="hidden" name="crstep" value="${stepNum}">
                        <p id="divStepNum_${stepNum}" class="cont_tit2_1 ui-sortable-handle" style="cursor: pointer; color: #116530;" data-original-title="" title="">Step${stepNum}</p>
                        <div id="divStepText_${stepNum}" style="display: inline-block">
                          <input name="crcdetail" id="step_text_${stepNum}" class="form-control step_cont" placeholder="예) 소고기는 기름기를 떼어내고 적당한 크기로 썰어주세요." style="height: 160px; width: 650px; resize: none; background: #ffffff;">
                        </div>
                        <div id="divStepUpload_${stepNum}" style="display: inline-block">
                          <input type="hidden" name="step_no[]" id="step_no_${stepNum}" value="">
                          <input type="hidden" name="step_photo[]" id="step_photo_${stepNum}" value="">
                          <input type="hidden" name="new_step_photo[]" id="new_step_photo_${stepNum}" value="">
                          
                          <div style="position: absolute; left: -3000px">
                            <input type="file" name="crimg" id="q_step_file_${stepNum}" file_gubun="step" accept="jpeg,png,gif" style="width: 0px; height: 0px; font-size: 0px;" text="">
                          </div>
                          <div id="divStepPhotoBox_${stepNum}" is_over="0">
                            <img id="stepPhotoHolder_${stepNum}" onclick="clickStepImg(${stepNum})" src="https://recipe1.ezmember.co.kr/img/pic_none2.gif" width="160" height="160" style="cursor: pointer">
                          </div>
                        </div>
                        <div id="divStepBtn_${stepNum}" class="step_btn" style="display: none;">
                          <a href="javascript:delStep(${stepNum})" id="btnMaterialDel_2_${stepNum}"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                      </div>
                    `;

          divStepArea.insertAdjacentHTML("beforeend", newStepItem);
          // 기존에 생성된 모든 step_btn의 display를 none으로 변경
          const stepBtns = divStepArea.querySelectorAll(".step_btn");
          stepBtns.forEach((btn) => {
            btn.style.display = "none";
          });

          // 마지막 생성된 step_btn의 display를 inline-block으로 변경
          const lastStepBtn = divStepArea.lastElementChild.querySelector(".step_btn");
          lastStepBtn.style.display = "inline-block";
        });
      });

      function addMaterial_btn2() {
        const divStepArea = document.querySelector("#divStepArea");
        const stepNum = divStepArea.children.length + 1;

        const newStepItem = `
                    <div id="divStepItem_${stepNum}" class="step">
                      <input type="hidden" name="crstep" value="${stepNum}">
                      <p id="divStepNum_${stepNum}" class="cont_tit2_1 ui-sortable-handle" style="cursor: pointer; color: #116530;" data-original-title="" title="">Step${stepNum}</p>
                      <div id="divStepText_${stepNum}" style="display: inline-block">
                        <input name="crcdetail" id="step_text_${stepNum}" class="form-control step_cont" placeholder="예) 소고기는 기름기를 떼어내고 적당한 크기로 썰어주세요." style="height: 160px; width: 650px; resize: none; background: #ffffff;">
                      </div>
                      <div id="divStepUpload_${stepNum}" style="display: inline-block">
                        <input type="hidden" name="step_no[]" id="step_no_${stepNum}" value="">
                        <input type="hidden" name="step_photo[]" id="step_photo_${stepNum}" value="">
                        <input type="hidden" name="new_step_photo[]" id="new_step_photo_${stepNum}" value="">
                       
                        <div style="position: absolute; left: -3000px">
                          <input type="file" name="crimg" id="q_step_file_${stepNum}" file_gubun="step" accept="jpeg,png,gif" style="width: 0px; height: 0px; font-size: 0px;" text="">
                        </div>
                        <div id="divStepPhotoBox_${stepNum}" is_over="0">
                          <img id="stepPhotoHolder_${stepNum}" onclick="clickStepImg(${stepNum})" src="https://recipe1.ezmember.co.kr/img/pic_none2.gif" width="160" height="160" style="cursor: pointer">
                        </div>
                      </div>
                      <div id="divStepBtn_${stepNum}" class="step_btn" style="display: none;">
                        <a href="javascript:delStep(${stepNum})" id="btnMaterialDel_2_${stepNum}"><span class="glyphicon glyphicon-remove"></span></a>
                      </div>
                    </div>
                  `;

        divStepArea.insertAdjacentHTML("beforeend", newStepItem);
        // 기존에 생성된 모든 step_btn의 display를 none으로 변경
        const stepBtns = divStepArea.querySelectorAll(".step_btn");
        stepBtns.forEach((btn) => {
          btn.style.display = "none";
        });

        // 마지막 생성된 step_btn의 display를 inline-block으로 변경
        const lastStepBtn = divStepArea.lastElementChild.querySelector(".step_btn");
        lastStepBtn.style.display = "inline-block";
      }

      function delStep(stepNum) {
        const divStepItem = document.querySelector(`#divStepItem_${stepNum}`);
        if (divStepItem) {
          divStepItem.remove();
          const divStepArea = document.querySelector("#divStepArea");
          const lastStepItem = divStepArea.lastElementChild;
          if (lastStepItem) {
            const lastStepBtn = lastStepItem.querySelector(`#divStepBtn_${lastStepItem.id.split("_")[1]}`);
            if (lastStepBtn && divStepArea.children.length > 1) {
              lastStepBtn.style.display = "inline-block";
            }
          }
        }
      }
      function browseMainFile() {
        $("#crMimg").click();
      }

      function setMainPhoto(is_temp, url, org_url) {
        console.log("set main photo");
        $("#main_photo").val(url);
        $("#main_copy_image").remove();
        /* var w = _MAIN_PHOTO_SIZE[$("#cok_reg_type").val()]['width'];
               var h = _MAIN_PHOTO_SIZE[$("#cok_reg_type").val()]['height'] */

        if (is_temp != "") {
          $("#new_main_photo").val("1");
          $("#divMainPhotoBox").html('<div id="divMainPhotoHolder" style="position:relative;width:250px;height:250px"><img id="upload_main_image" onclick="browseMainFile()" src="' + url + '" border="0" style="cursor:pointer;width:250px;height:250px;"><a id="btnDelMainPhoto" href="javascript:delMainPhoto()" class="pic_del" style="display: none;"></a></div>');
          $("#divWorkArea").prepend('<img  id="main_copy_image" src="' + url + '" border="0" style="cursor:pointer;width:140px;height:140px;">');
        } else {
          $("#divMainPhotoBox").html('<div id="divMainPhotoHolder" style="position:relative;width:250px;height:250px"><img id="upload_main_image" onclick="browseMainFile()" src="' + url + '" border="0" style="cursor:pointer;width:250px;height:250px;"><a id="btnDelMainPhoto" href="javascript:delMainPhoto()" class="pic_del" style="display: none;"></a></div>');
          $("#divWorkArea").prepend('<img  id="main_copy_image" src="' + url + '" border="0" style="cursor:pointer;width:140px;height:140px;">');
        }
        /*
                $("#btnDelMainPhoto").css({
                    'left': $("#divMainPhotoUpload").position().left + $("#divMainPhotoUpload").width() - $("#btnDelMainPhoto").width()
                });
                */
        $("#divMainPhotoHolder")
          .mouseover(function () {
            $("#divMainPhotoBox").attr("is_over", "1");
            $("#btnDelMainPhoto").show();
          })
          .mouseout(function () {
            $("#divMainPhotoBox").attr("is_over", "0");
            setTimeout(function () {
              if ($("#divMainPhotoBox").attr("is_over") == "0") {
                $("#btnDelMainPhoto").hide();
              }
            }, 200);
          });
      }
      function setStepPhoto(is_temp, url, org_url, str_num) {
        console.log("set step photo");
        $("#step_photo_" + str_num).val(url);
        if (is_temp != "") {
          $("#new_step_photo_" + str_num).val("1");
          $("#divStepPhotoBox_" + str_num).html('<div id="divStepPhotoHolder_' + str_num + '" style="position:relative;"><img id="upload_step_image_' + str_num + '" onclick="clickStepImg(' + str_num + ')" src="' + url + '" border="0" style="cursor:pointer;width:160px;height:160px;"><a id="btnDelStepPhoto_' + str_num + '" class="pic_del" href="javascript:delStepPhoto(' + str_num + ')" style="display: none;"></a></div>');
        } else {
          $("#divStepPhotoBox_" + str_num).html('<div id="divStepPhotoHolder_' + str_num + '" style="position:relative;"><img id="upload_step_image_' + str_num + '" onclick="clickStepImg(' + str_num + ')" src="' + url + '" border="0" style="cursor:pointer;width:160px;height:160px;"><a id="btnDelStepPhoto_' + str_num + '" class="pic_del" href="javascript:delStepPhoto(' + str_num + ')" style="display: none;"></a></div>');
        }
        $("#divStepPhotoHolder_" + str_num)
          .mouseover(function () {
            $("#divStepPhotoBox_" + str_num).attr("is_over", "1");
            $("#btnDelStepPhoto_" + str_num).show();
          })
          .mouseout(function () {
            $("#divStepPhotoBox_" + str_num).attr("is_over", "0");
            setTimeout(function () {
              //$("#divStepPhotoBox_"+str_num).attr('is_over','0');
              if ($("#divStepPhotoBox_" + str_num).attr("is_over") == "0") {
                $("#btnDelStepPhoto_" + str_num).hide();
              }
            }, 200);
          });
      }

      function bindEvent(el, eventName, eventHandler) {
        if (el.addEventListener) {
          el.addEventListener(eventName, eventHandler, false);
        } else if (el.attachEvent) {
          el.attachEvent(eventName, eventHandler);
        }
      }

      $("#crMimg").change(MainImgFile);
      //$('#q_step_file_1').change(StepImgFile);

      let divStepArea = document.querySelector("#divStepArea");
      let childNodeCount = divStepArea.childElementCount;

      for (let i = 1; i < childNodeCount + 1; i++) {
        $("#q_step_file_" + i).change(StepImgFile);
        console.log(i);
      }

      $(document).on("change", '[id^="q_step_file_"]', StepImgFile);

      function clickMainImg() {
        let input = $("#crMimg");
        input.click();
      }

      function MainImgFile(event) {
        let inputfile = this;
        console.log(inputfile);
        let reader1 = new FileReader();

        if (!inputfile.files || inputfile.files.length === 0) {
          console.log("No file selected.");
          return;
        }
        reader1.onload = function (e) {
          var img = new Image();
          img.src = reader1.result;
          img.onload = function () {
            $("#divMainPhotoBox").html('<div class="text-center" style="margin:50px 0 0 0"><span class="fa fa-spinner fa-spin fa-2x"></span></div>');
            setMainPhoto("1", e.target.result, "");
          };
        };
        reader1.readAsDataURL(inputfile.files[0]);
      }

      function clickStepImg(step) {
        let stepinput = $("#q_step_file_" + step);
        console.log(stepinput[0].name);
        stepinput.click();
      }
      function StepImgFile(event) {
        const str = event.target.id;
        const regex = /\d+/;
        const matches = str.match(regex);
        const step = matches[0];
        console.log("여기 출력"); // 출력 결과: 1

        let inputfile = $("#q_step_file_" + step)[0];
        //let inputfile = this;
        console.log(inputfile);
        let reader1 = new FileReader();

        if (!inputfile.files || inputfile.files.length === 0) {
          console.log("No file selected.");
          return;
        }
        reader1.onload = function (e) {
          var img = new Image();
          img.src = reader1.result;
          img.onload = function () {
            $("#divStepPhotoBox_" + step).html('<div class="text-center" style="margin:50px 0 0 0;width:160px"><span class="fa fa-spinner fa-spin fa-2x"></span></div>');
            setStepPhoto("1", e.target.result, "", step);
          };
        };
        reader1.readAsDataURL(inputfile.files[0]);
      }
    </script>
	<script>
      // searchTag의 입력 이벤트에 비동기로 검색하는 코드를 작성합니다.
      $("#searchTag").on("input change keyup", function () {
        // 입력값을 가져옵니다.
        let keyword = $(this).val();

        // $.ajax 함수로 비동기 요청을 전송합니다. 여기서는 예시로 GET 방식과 임의의 URL을 사용했습니다.
        $.ajax({
          url: "/event/api/search?keyword=" + keyword,
          type: "GET",
          success: function (data) {
            // 요청이 성공적으로 완료되면 data 배열의 각 요소마다 li 태그를 생성하고 suggestions에 추가합니다.

            $("#suggestions").empty();
            var input = ' <li data-iname="" data-pcno="" style="margin-top: 3px; font-size: 20px;">검색어: <a href="#">' + keyword + "</a></li>";
            $("#suggestions").append(input);
            let li = "";
            data.forEach(function (item) {
              li += '<li style="margin-top: 3px; font-size: 18px;" data-pid="' + item.pid + '" data-pcno="' + item.pcno + '" data-pname="' + item.pname + '"><a href="javascript:void(0)">' + item.pname + "</a></li>";
            });
            $("#suggestions").append(li);
            console.log("end====");
            highlight();
          },
          error: function (xhr, status, error) {
            // 요청이 실패하면 오류 메시지를 출력합니다.
            console.error("Request failed: " + status + ", " + error);
          },
        });
      });
      var scrollPosition;
      $("#add_material_btn").click(function () {
        // showModal() 메소드로 모달창을 띄웁니다.
        scrollPosition = window.pageYOffset; // 현재 스크롤 위치 저장

        modal.showModal();
      });

      $("#closeBtn").click(function () {
        // close() 메소드로 모달창을 닫습니다.

        var tag = $("#searchTag").val("");
        $("#suggestions").empty();
        document.body.style.overflow = ""; // body 태그의 overflow 속성 제거
        document.body.style.position = ""; // body 태그의 position 속성 제거
        window.scrollTo(0, scrollPosition); // 저장한 스크롤 위치로 이동
        modal.close();
      });

      // suggestions의 li 태그들의 클릭 이벤트에 li 태그를 추가하는 코드를 작성합니다.
      $("#suggestions").on("click", "li", function () {
        // 클릭한 li 태그의 텍스트를 가져옵니다.
        let text = $(this).find("a").text();
        let pid = $(this).data("pid");

        // materialCount라는 변수를 선언하고 적절한 값을 할당합니다. 예시로는 1을 사용했습니다.
        var materialCount = $("#divMaterialArea_1").children().length + 1;

        // display라는 변수를 선언하고 적절한 값을 할당합니다. 예시로는 'block'을 사용했습니다.
        var display = "inline-block";

        // newMaterial이라는 변수를 생성하고 해당 형식으로 값을 할당합니다.
        var newMaterial = `
       <li id="liMaterial_1_${materialCount}">
           <input type="hidden" name="pid" value="${pid? pid:0}">
      
         <input type="text" name="iname" data-name="재료명" id="cok_material_nm_1_${materialCount}" class="form-control" value="${text}" style="width: 330px; background: #ffffff;" readOnly>
         <input type="text" name="cricount" data-name="재료 수량" id="cricount_1_${materialCount}" class="form-control" placeholder="300g" style="width: 280px; background: #ffffff;" >
         <a id="btnMaterialDel_1_${materialCount}" onclick="deletBtn(this)" class="btn-del" style="display: ${display};"></a>
       </li>`;
        // 모달창을 닫습니다.
        var tag = $("#searchTag").val("");
        $("#suggestions").empty();
        document.body.style.overflow = ""; // body 태그의 overflow 속성 제거
        document.body.style.position = ""; // body 태그의 position 속성 제거
        window.scrollTo(0, scrollPosition); // 저장한 스크롤 위치로 이동
        modal.close();
        // newMaterial을 추가합니다.
        $("#divMaterialArea_1").append(newMaterial);
      });
    </script>
	<script>
      $("#btnSubmit").click(function (e) {
        e.preventDefault();
        var flag = true;
        $("#insFrm")
          .find("input")
          .each(function () {
            if ($(this).val() == "") {
              flag = false;
              let desc = $(this).data("name");
              Swal.fire({
                  text: desc+"을 채워주세요",
                  icon: "warning",
                  confirmButtonText: "확인",
                });
             
              $(this).focus();
              return false;
            }
     /*        if ($("#divMaterialArea_1").children().length == 0) {
              flag = false;

              Swal.fire({
                text: "재료를 입력해주세요",
                icon: "warning",
                confirmButtonText: "확인",
              });
              return false;
            } */
          });
        if (flag) {
          $("#insFrm").submit();
        }
      });
    </script>
	<th:block th:replace="includes/footer :: footer"></th:block>
</body>
<whale-quicksearch translate="no"></whale-quicksearch>
</html>
