<html
	lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
	class=""
>
<head>
<meta charset="utf-8" />
<meta
	name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no"
/>
<meta
	name="format-detection"
	content="telephone=no"
/>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge"
/>
<meta
	name="description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="keywords"
	content="키워드"
/>
<link
	rel="canonical"
	href="SITE URL"
/>
<meta
	property="og:title"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	property="og:type"
	content="website"
/>
<meta
	property="og:url"
	content="SITE URL"
/>
<meta
	property="og:image"
	content="이미지"
/>
<meta
	property="og:site_name"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	property="og:description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="twitter:card"
	content="summary"
/>
<meta
	name="twitter:title"
	content="GS샵 에코크리에이터 다채로운 식탁"
/>
<meta
	name="twitter:description"
	content="GS샵 에코크리에이터 다채로운 식탁에서 채식 레시피 공모전을 진행합니다. 여러분의 채식 레시피로 다채로운 식탁을 채워주세요. 채식 한 끼로 지구를 살리는 데 동참해주세요."
/>
<meta
	name="twitter:image"
	content="이미지"
/>
<meta
	itemprop="image"
	content="이미지"
/>
<link
	rel="shortcut icon"
	href="/favicon.ico"
	type="image/x-ico"
/>
<title>Hart</title>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/default.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/js/font-awesome/css/font-awesome.min.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/main_header.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/main.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/footer.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/slick/slick.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/slick/slick-theme.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/noto_font/NotoSansKR.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/js/aos/dist/aos.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/skin/board/vote/style.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/header_sub.css?ver=210618"
/>
<link
	rel="stylesheet"
	href="https://gsshopecorecipe.com/theme/basic/css/sub.css?ver=210618"
/>
<script src="https://gsshopecorecipe.com/js/jquery-1.12.4.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/jquery-migrate-1.4.1.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/jquery.menu.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/common.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/wrest.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/js/placeholders.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/slick/slick.min.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/custom_js.js?ver=210618"></script>
<script src="https://gsshopecorecipe.com/theme/basic/js/aos/dist/aos.js?ver=210618"></script>
</head>
<body class="subpage">
	<th:block th:replace="includes/header :: header1"></th:block>
	<th:block th:replace="includes/header :: header2"></th:block>
	<th:block th:replace="includes/header :: header3"></th:block>
	<link
		rel="stylesheet"
		href="/css/bootstrap.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/font-awesome.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/elegant-icons.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/magnific-popup.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/nice-select.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/owl.carousel.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/slicknav.min.css"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="/css/style.css"
		type="text/css"
	/>
	<a
		href="#"
		id="btnGogoTop"
		class="rmenu_top"
		style="display: none"
	><span class="glyphicon glyphicon-menu-up"></span></a>
	<style>
#floatdiv {
	position: absolute;
	width: 120px;
	height: 600px;
	margin-left: -750px;
	background: transparent;
	left: 50%;
	top: 250px;
}

@media ( max-width : 1500px) {
	#floatdiv {
		display: none;
	}
}

@media ( max-width : 1400px) {
	.partners_banner {
		display: none;
	}
}

.tagit {
	margin: 0 0 0 0 !important;
	padding: 5px 8px !important;
	border-radius: 0 !important;
}

.note-editor .note-dropzone {
	opacity: 0 !important;
}

ul.tagit {
	width: 620px;
	vertical-align: middle;
}

ul.tagit input[type="text"] {
	width: 100%;
	height: 30px;
}
</style>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://recipe1.ezmember.co.kr/static/css/jquery-ui-1.11.4_201507011.css"
	/>
	<div class="full_container sub_visual">
		<div class="inner_container">
			<h2 class="eland_font">레시피 공모전</h2>
			<ul>
				<li><a href="/event?evid=1">공모전 소개 및 지원하기</a></li>
				<li><a
					href="/event/vote?evid=1"
					class="on"
				>레시피 투표하기</a></li>
			</ul>
		</div>
	</div>
	<div
		id="bo_gall"
		class="full_container sub_section"
		style="width: 100%"
	>
		<div class="inner_container">
			<h3 class="title">레시피 투표하기</h3>
			<form
				name="votelist"
				id="votelist"
				th:action="@{/event/vote}"
				method="post"
			>
				<input
					type="hidden"
					name="mid"
					id="mid"
					th:value="${#authentication.principal.mid}"
				/> <input
					type="hidden"
					name="evid"
					id="evid"
					th:value="${evid}"
				/> <input
					type="hidden"
					name="crid"
					id="crid"
				/>
			</form>
			<script>
				function voting(e) {
					let crid = $(e).data('crid');
					$("#crid").val(crid);
					$("#votelist").submit();

				}
			</script>
			<ul
				id="gall_ul"
				class="gall_row"
			>
				<!--   <li class="gall_li col-gn-4 box_clear"> -->
				<li
					class="gall_li col-gn-4"
					th:each="item : ${recipe}"
				>
					<div class="gall_box">
						<div class="gall_con">
							<div class="gall_img">
								<a th:href="@{${'/event/voteDetail?crid='+item.crid}}"> <img th:src="@{${'/event/api/display?imgName='+item.crMimg}}" />
								</a>
							</div>
							<div class="
								gall_text_href">
								<a
									href=""
									class="bo_tit"
									th:text="${item.crtitle}"
								> </a> <span
									class="bo_cnt"
									th:text="${item.crdetail}"
								></span>
								<!--////투표하기 버튼////-->
								<button
									class="vote_btn"
									th:data-crid="${item.crid}"
									onclick="voting(this)"
								>투표하기</button>
								<!--////투표하기 버튼////-->
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<th:block th:replace="includes/footer :: footer"></th:block>
</body>
</html>
