<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/includes/headTag :: head_tag"></th:block>
<style>
	.product__cart__item__pic {
		position: relative;
	}

	.checkbox {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 22px;
		height: 22px;
	}
	
	.price-box h5,
	.price-box h6 {
		display: inline-block;
		margin: 0;
	}

	.product__cart__item__text {
		overflow: hidden;
	}

	.product__cart__item__text .cost {
		color: #999;
		/* 회색으로 표시 */
		font-size: 0.8em;
		/* 작게 보이도록 설정 */
		text-decoration: line-through;
		/* 선 그어지도록 설정 */
	}

	.floating-icon {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-color: #4CAF50;
		color: #FFFFFF;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		cursor: pointer;
	}

	.empty-basket {
		text-align: center;
		font-size: 20px;
		color: #666;
	}

	@media (max-width: 768px) {
		.empty-basket {
			font-size: 16px;
		}
	}
</style>




<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Offcanvas Menu Begin -->
	<th:block th:replace="/includes/header :: header1"></th:block>
	<th:block th:replace="/includes/header :: header2"></th:block>
	<th:block th:replace="/includes/header :: header3"></th:block>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<h4>Shopping Cart</h4>
						<div class="breadcrumb__links">
							<a href="./index.html">Home</a> <a href="./shop.html">Shop</a> <span>Shopping
								Cart</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shopping Cart Section Begin -->
	<section class="shopping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="shopping__cart__table">
						<table id="ptable">
							<thead>
								<tr>
									<th style="padding : 0; margin : 0">
										<div class="select-all">
											<label><input  id="allCheck" type="checkbox"
													>
												&nbsp;<span>전체선택 
												</span></label>
										</div>
									</th>

									<th colspan="3" style="padding : 0;text-align :right;">
										<div><span onclick="selectRemove();"
												>선택삭제</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody class="pbody">

							</tbody>
						</table>


					</div>
					<input type='hidden' name='csno' th:value="${#authentication.principal.csno}"> 
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="continue__btn">
								<a href="#">Continue Shopping</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="continue__btn update__btn" id='btn_cancle'>
								<a href="#"><i class="fa fa-spinner"></i> 공유 취소</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cart__discount">
						
					</div>
					<div class="cart__total">
						<h6>예상금액</h6>
						<ul>
							<li>총 할인금액 <span class='discount' data-value='0'>0원</span></li>
							<li>총 상품금액 <span class='tprice' data-value='0'>0원</span></li>
						</ul>
						<a href="#" class="primary-btn orderDirect">주문하기</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shopping Cart Section End -->

	<th:block th:replace="/includes/footer :: footer"></th:block>
	
	<dialog>
		<div class="container">
			<h2>장바구니에 담겼습니다</h2>
			<div class="shopping__cart__table">
				<div class="shop__sidebar__accordion" style="margin-top: 50px">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-heading active">
								<a data-toggle="collapse" data-target="#collapseSix" class="" aria-expanded="true">라이브
									클래스 추천</a>
							</div>
							<div id="collapseSix" class="collapse show" data-parent="#accordionExample" style="">
								<table>
									<tbody>
										<tr>
											<td class="product__cart__item">
												<div class="product__cart__item__pic">
													<img src="/img/shopping-cart/cart-2.jpg" alt="" />
												</div>
												<div class="product__cart__item__text">
													<h6>라이브 클래스 명</h6>
													<h5>더보기</h5>
												</div>
											</td>
											<td class="quantity__item">
												<div class="quantity">
													<div class="pro-qty-2">
														<input type="text" value="1" />
													</div>
												</div>
											</td>
											<td class="cart__price">$ 32.50</td>
											<td class="cart__close"><i class="fa fa-close"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="shop__sidebar__accordion" style="margin-top: 50px">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-heading active">
								<a data-toggle="collapse" data-target="#collapseSix" class="" aria-expanded="true">인기있는
									레시피</a>
							</div>
							<div id="collapseSix" class="collapse show" data-parent="#accordionExample" style="">
								<div class="card-body">
									<div class="shop__sidebar__tags">
										<a href="#">국</a> <a href="#">찌개</a> <a href="#">볶음</a> <a href="#">안주</a>
									</div>
								</div>
								<table>
									<tbody>
										<tr>
											<td class="product__cart__item">
												<div class="product__cart__item__pic">
													<img src="/img/shopping-cart/cart-1.jpg" alt="" />
												</div>
												<div class="product__cart__item__text">
													<h6>레시피 설명</h6>
													<h6>레시피 설명</h6>
													<h6>레시피 설명</h6>
												</div>
											</td>
											<td class="quantity__item"></td>
											<td class="cart__price">더보기</td>
										</tr>
										<tr>
											<td class="product__cart__item">
												<div class="product__cart__item__pic">
													<img src="/img/shopping-cart/cart-2.jpg" alt="" />
												</div>
												<div class="product__cart__item__text">
													<h6>Diagonal Textured Cap</h6>
													<h5>$98.49</h5>
												</div>
											</td>
											<td class="quantity__item">
												<div class="quantity">
													<div class="pro-qty-2">
														<input type="text" value="1" />
													</div>
												</div>
											</td>
											<td class="cart__price">$ 32.50</td>
											<td class="cart__close"><i class="fa fa-close"></i></td>
										</tr>
										<tr>
											<td class="product__cart__item">
												<div class="product__cart__item__pic">
													<img src="/img/shopping-cart/cart-3.jpg" alt="" />
												</div>
												<div class="product__cart__item__text">
													<h6>Basic Flowing Scarf</h6>
													<h5>$98.49</h5>
												</div>
											</td>
											<td class="quantity__item">
												<div class="quantity">
													<div class="pro-qty-2">
														<input type="text" value="1" />
													</div>
												</div>
											</td>
											<td class="cart__price">$ 47.00</td>
											<td class="cart__close"><i class="fa fa-close"></i></td>
										</tr>
										<tr>
											<td class="product__cart__item">
												<div class="product__cart__item__pic">
													<img src="/img/shopping-cart/cart-4.jpg" alt="" />
												</div>
												<div class="product__cart__item__text">
													<h6>Basic Flowing Scarf</h6>
													<h5>$98.49</h5>
												</div>
											</td>
											<td class="quantity__item">
												<div class="quantity">
													<div class="pro-qty-2">
														<input type="text" value="1" />
													</div>
												</div>
											</td>
											<td class="cart__price">$ 30.00</td>
											<td class="cart__close"><i class="fa fa-close"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</dialog>
	
	<script type="text/javascript" src="/js/dialog.js"></script>
	<!-- Js Plugins -->
	<script>
		function CartList() {
			$.ajax({
				url: '/capi/get',
				type: 'post',
				contentType: 'application/json',
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {
					console.log(result.result.plists);
					str = "";
					var plist = result.result.plists;
					var clist = result.result.clists;
					console.log(clist);
					if (plist.length != 0 || clist.length != 0) {
						for (var i = 0; i < result.result.plists.length; i++) {
							var price = plist[i].pprice;
							if (plist[i].pdiscount != 0) {
								price = price - plist[i].pprice * (plist[i].pdiscount / 100);
							}
							str += "<tr id='" + i + "' data-value='" + plist[i].pid + "'><td class='product__cart__item'><div class='product__cart__item__pic'><span class='thumb'><input name='cartlist' id='check_" + i + "' type='checkbox' class='checkbox'><img class='pimg' src='" + plist[i].pimg + "' alt='' style='width:90px; height:90px;'/></span>"
							str += "</div><div class='product__cart__item__text'><h6>" + plist[i].pname + "</h6>"
							str += "<span class='price-box'><h5 class='price'id='price_" + i + "'data-value='" + price + "' >₩" + numberWithCommas(price) + "</h5>"
							if (plist[i].pdiscount != 0) {
								str += "    <h6 class='cost' id='discount_" + i + "'data-value='" + plist[i].pprice + "'>₩" + numberWithCommas(plist[i].pprice) + "</h6>";
							}
							str += "</span></div></td><td class='quantity__item'><div class='quantity'><div class='pro-qty-2'><span data-value=" + i + " class='dec qtybtn btn_minus'><i class='fa-solid fa-minus fa-lg'></i></span><input id='quantity_" + i + "'type='text' value='" + plist[i].mcamount + "' readonly='readonly' /><span data-value=" + i + " class='inc qtybtn btn_plus'><i class='fa-solid fa-plus fa-lg'></i></span>"
							str += "</div></div></td><td data-value='" + price * plist[i].mcamount + "'class='cart__price' id='cprice_" + i + "'>₩" + numberWithCommas(price * plist[i].mcamount) + "</td>"
							str += "<td class='cart__close'><i class='fa-solid fa-x fa-xl' style='color: #000000;'></i></td></tr>"
						}

						if (clist.length != 0) {
							console.log(clist);
							for (var j = 0; j < clist.length; j++) {
								var status = 'LIVE 방송</br>';
								status += clist[j].lcday.substring(2, 10);
								if (clist[j].lcstatus == 1) {
									status = 'VOD';
								}
								str += "<tr id='" + (i + j + 1) + "' data-value='" + clist[j].lcid + "'><td class='product__cart__item'><div class='product__cart__item__pic'><span class='thumb'><input name='cartlist' id='check_" + (i + j + 1) + "' type='checkbox' class='checkbox'><img class='pimg' src='" + clist[j].lcimg + "' alt='' style='width:90px; height:90px;'/></span>"
								str += "</div><div class='product__cart__item__text'><h6>" + clist[j].lcname + "</h6>"
								str += "<span class='price-box'><h5 class='price'id='price_" + (i + j + 1) + "'data-value='" + clist[j].lcprice + "' >" + clist[j].lcteacher + "</h5>"
								str += "</span></div></td><td class='quantity__item'><div class='quantity'><div class='pro-qty-2'>" + status + "<input id='quantity_" + (i+j+1) + "'type='hidden' value='1' readonly='readonly' />";
								str += "</div></div></td><td data-value='" + clist[j].lcprice + "'class='cart__price' id='cprice_" + (i + j + 1) + "'>₩" + numberWithCommas(clist[j].lcprice) + "</td>"
								str += "<td class='cart__close'><i class='fa-solid fa-x fa-xl' style='color: #000000;'></i></td></tr>"
							}


						}
						$(".pbody").html(str);
					} else {
						NoItem();
					}
				},
				error: function (err, xhr, status) {
					console.log(err);
				}
			})
		}


		function calTotal(pos, pamount) {
			$("#quantity_" + pos).val(pamount);
			var tprice = $("#price_" + pos).data('value') * pamount;
			$("#cprice_" + pos).data('value', tprice);
			$("#cprice_" + pos).text('₩' + numberWithCommas(tprice));
			getCheckboxValue();
		}
		function updateAmount(pid, pamount, pos) {
			$.ajax({
				url: '/capi/updateAmount',
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify({
					pid: pid,
					pamount: pamount
				}),
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {
					calTotal(pos, pamount);
				},
				error: function (err, xhr, status) {
					console.log(err);
				}
			})
		}



		$(document).ready(function () {
			CartList();
		});

	</script>
	<div class="floating-icon">
		<i class="fas fa-comment"></i>
	</div>
	<script>
		var icon = document.querySelector('.floating-icon');

		icon.addEventListener('click', function () {
			// 채팅창을 열거나 다른 동작을 수행하는 코드를 작성합니다.
		});

	</script>
	<script>
	sse.addEventListener('connect', (e) => {
		const { data: receivedConnectData } = e;
		console.log('connect event data: ',receivedConnectData);  // "connected!"
	});
	
	
	sse.addEventListener('insert', (e) => {
		const { data: receivedConnectData } = e;
		CartList();  
	});
	
	/* 공유 장바구니 수량 변경 발생 시 이벤트를 받아, 화면 처리  */
	sse.addEventListener('update', e => {  
	    const { data: receivedUpdate} = e;
		let json = JSON.parse(receivedUpdate);
		let uid = json.pid;
		let amount = json.pamount;
		let pos = $("[data-value="+uid+"]").prop("id");
		console.log(uid, amount, pos);
		$("#quantity_"+pos).val(amount);
		calTotal(pos,amount);
	    
	});
	
	/* 공유 장바구니 상품 삭제 시 이벤트를 받아 화면 처리  */
	sse.addEventListener('remove', e => {  
	    const { data: receivedRemoves} = e;
	    console.log(receivedRemoves);
		let pids = JSON.parse(receivedRemoves);
		console.log(pids);
		for(var pid of pids){
			$("[data-value="+pid+"]").remove();
		}
		NoItem();
		getCheckboxValue();
	});
	
	/* 공유 장바구니 삭제 시 이벤트를 받아 화면 처리  */
	sse.addEventListener('delete', e => {  
	    const { data: receivedRemoves} = e;
			alert('장바구니 삭제');
			console.log('장바구니 삭제됨 ');
			location.href='/cart/mycart'
	});
	
	</script>
</body>

</html>