<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hart.mapper.AlarmMapper">
	
	<resultMap id="alramResultMap" type="com.hart.domain.alarm.LiveClassApplicantDTO">
	  <result property="mid" column="MID"/>
	  <result property="lcname" column="LCNAME"/>
	  <result property="lcday" column="LCDAY"/>
	  <result property="lcstart" column="LCSTART"/>
	  <result property="lcend" column="LCEND"/>
	  <result property="alertPhone" column="ALERT_PHONE"/>
	</resultMap>

	<select id="getApplicantInfoCall" statementType="CALLABLE" parameterType="java.util.Map">
		 { call live_alarm_procedure(
		 	#{key, jdbcType=CURSOR, mode=OUT, javaType=java.sql.ResultSet,resultMap=alramResultMap}
		 )}
	</select>
	
	<select id="addApplicantTodayAlarm" statementType="CALLABLE" >
		 { call today_add_alarm_procedure}
	</select>
	
	
	<select id="getNoticeService"  resultType="com.hart.domain.alarm.AlarmDTO">
		select alarm_content, alarm_date
		from(
		    select * from alarm
		    where mid = 'skarns23@yu.ac.kr'
		    order by alarm_date_detail desc
		)
		<![CDATA[
		where rownum<=3
		]]>
	</select>
	
	
	
</mapper>