<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hart.mapper.EventMapper">
	<select id="getProducts" parameterType="string"
		resultType="ProductsVO">
		<![CDATA[
		select * from (
		  select p.pid pid ,p.pname pname, p.pcno pcno
		  from products p
		  join
		  product_category pc on p.PCNO = pc.pcno
		  where
		  p.stag like '%' || #{keyword} || '%' or
		  p.pname like '%' || #{keyword} || '%' or
		  pc.pcno like '%' || #{keyword} || '%'
		  ORDER BY UTL_MATCH.JARO_WINKLER_SIMILARITY(pname, #{keyword}) DESC
		  ) where rownum <= 15 
		
	
		]]>
	</select>
	<select id="selectCrid" resultType="int">
		select crid_seq.nextval from
		dual
	</select>
	<insert id="registerRecipe"
		parameterType="com.hart.domain.event.CRecipeVO">

		INSERT INTO CRecipe (crid, crtitle, crimg,
		crmingredient, crlevel, crtime,
		crclick, crregdate, crcano,
		crdetail)VALUES (#{seq}, #{recipe.crtitle},
		#{recipe.crMimg},
		#{recipe.crmingredient},
		#{recipe.crlevel}, #{recipe.crtime},
		#{recipe.crclick},
		sysdate, #{recipe.crcano},
		#{recipe.crdetail})
	</insert>
	<insert id="registerContent"
		parameterType="com.hart.domain.event.CRContentVO">
		INSERT INTO crecipe_content (crdetail, crimg, crstep,
		crid)
		VALUES (#{content.crcdetail}, #{content.crimg}, #{content.step},
		#{seq})
	</insert>
	<insert id="registerIngredient"
		parameterType="com.hart.domain.event.CRIngredientVO">

		INSERT INTO crecipe_ingredient (cricount, pid, pcno,
		crid)
		VALUES (#{ingredient.cricount}, #{ingredient.pid},
		#{ingredient.pcno}, #{seq})

	</insert>


	<select id="getEventList" resultType="EventListVO"
		parameterType="int">
		SELECT evid, evtitle, start_date, end_date, vstart_date,
		vend_date,
		crmingredient FROM
		event_list WHERE evid = #{evid}
	</select>
	<select id="getVoteList"
		resultType="com.hart.domain.event.CRecipeVO" parameterType="int">

		SELECT
		CRID,CRTITLE , CRIMG ,CRMINGREDIENT ,CRLEVEL ,CRTIME ,
		CRCLICK
		,CRREGDATE ,CRCANO ,CRDETAIL ,CRVOTE ,EVID FROM
		crecipe
		WHERE evid =
		#{evid}
	</select>

	<insert id="toVote"
		parameterType="com.hart.domain.event.EventVoteVO">
		insert into event_vote (evid, mid, crid) values
		(#{evid}, #{mid}, #{crid})
	</insert>

</mapper>