<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hart.mapper.OrderMapper">


	<select id="pInfos" parameterType="string"
		resultType="CProductDTO">
		SELECT pid,pimg, pname,pprice,pdiscount,0
		FROM porder
		WHERE
		pid = #{pid}
	</select>
	<select id="cInfos" parameterType="string"
		resultType="CinfoDTO">
		SELECT lcid,lcday,lcstatus,lcteacher,lcname,lcimg,lcprice, 0 as pamount FROM corder
		WHERE
		lcid = #{lcid}
	</select>


</mapper>