<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hart.mapper.OrderMapper">

	<select id="pInfos" parameterType="string" resultType="PinfoDTO">
		SELECT
		pid,pimg, pname,pprice,pdiscount,0,0
		FROM porder
		WHERE
		pid = #{pid}
	</select>
	<select id="cInfos" parameterType="string" resultType="CinfoDTO">
		SELECT
		lcid,lcday,lcstatus,lcteacher,lcname,lcimg,lcprice, 0 as pamount FROM
		corder
		WHERE
		lcid = #{lcid}
	</select>
	<insert id='insertOrder' parameterType='OinfoDTO'>
		<selectKey resultType="int" keyProperty="oid" order="BEFORE">
			SELECT
			order_seq.nextVAL FROM dual
		</selectKey>
		INSERT INTO orders
		VALUES(#{oid},#{oname},#{ozipcode},#{oaddress1},#{oaddress2},
		#{opayment},#{ousedpoint},0,#{odiscount},sysdate,#{mid})
	</insert>

	<update id="insertProduct" parameterType="java.util.List">
		<selectKey resultType="int" keyProperty="oid" order="BEFORE">
			SELECT
			order_seq.CURRVAL FROM dual
		</selectKey>

		<foreach collection="pLists" item="item" open="INSERT ALL"
			close="SELECT * FROM DUAL" separator=" ">
			INTO order_detail (oid, pid,
			oamount, rvcheck)
			VALUES (#{oid},
			#{item.pid}, #{item.pamount}, 0)
		</foreach>
	</update>

	<update id="insertClass" parameterType="java.util.List">
		<selectKey resultType="int" keyProperty="oid" order="BEFORE">
			SELECT
			order_seq.CURRVAL FROM dual
		</selectKey>

		<foreach collection="cLists" item="item" open="INSERT ALL"
			close="SELECT * FROM DUAL" separator=" ">
			INTO order_detail (oid, pid,
			oamount, rvcheck)
			VALUES (#{oid},
			#{item.lcid}, #{item.pamount}, 0)
		</foreach>
	</update>

	<update id="intoMyClass" parameterType="java.util.List">
		<foreach collection="cLists" item="item" open="INSERT ALL"
			close="SELECT * FROM DUAL" separator=" ">
			INTO
			class_list
			(mid,lcid,alert_phone)
			VALUES
			(#{oDTO.mid}, #{item.lcid},
			#{oDTO.phone})
		</foreach>
	</update>

	<select id="checkClass" parameterType="java.util.List"
		resultType="int">
		SELECT count(*) FROM class_list
		WHERE mid = #{mid} AND lcid in
		<foreach collection="cLists" item="item" open="(" close=")"
			separator=",">
			#{item.lcid}
		</foreach>
	</select>

	<update id="orderCancle" parameterType="int">
		UPDATE orders
		set
		ostatus =
		-1
		WHERE oid = #{oid}
	</update>

	<select id="getOids" resultType="int">
	<![CDATA[
	select  oid from orderlist 
	where mid=#{mid} and (#{sDate} <=odate and odate <=#{eDate}+1) order by oid desc
	]]>
	</select>

	<select id="getOrder" resultType="OinfoDTO">
		SELECT *
		FROM orders
		WHERE oid =
		#{oid} AND mid = #{mid}
	</select>

	<resultMap id="orderResult" type="SearchResultDTO">
		<result property="oid" column="OID" />
		<result property="odate" column="ODATE" />
		<result property="opayment" column="OPAYMENT" />
		<result property="ostatus" column="OSTATUS" />
		<result property="ousedpoint" column="OUSEDPOINT" />
		<collection property="oitems" column="OID"
			javaType="java.util.ArrayList" ofType="OitemDTO"
			select="getOrderItems" />
	</resultMap>
	<select id="getOrders" parameterType="SearchDTO"
		resultMap="orderResult">
		SELECT *
		FROM orders
		WHERE mid = #{mid}
<![CDATA[
AND (TO_DATE(#{sdate}, 'YY/MM/DD') <= odate AND odate <= TO_DATE(#{edate}, 'YY/MM/DD') + INTERVAL '1' DAY)
]]>
		<if test="isCancel == -1">
			AND ostatus = -1
		</if>
		<if test="isCancel != -1">
			AND ostatus >= 0
		</if>
		ORDER BY oid DESC

	</select>

	<select id="getOrderItems" resultType="OitemDTO">
		SELECT
		oid,tti.pid,pname,pimg,rvcheck,oamount,tti.pprice FROM order_detail
		odt JOIN totalItem tti on odt.pid = tti.pid and odt.oid = #{oid}
	</select>
</mapper>


