<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hart.mapper.ProductsMapper">

	<select id="getproductslist"
		resultType="com.hart.domain.product.ProductsVO">

		select * from
		(select p.pname, p.pprice, p.pdiscount,p.pcno,
		p.pid ,p.stag,
		pc.pcategory,
		pcno_top
		from products p
		join
		product_category pc
		on p.pcno =
		pc.pcno
		where pc.pcno_top= #{pcno}) pd
		join product_img pi
		on pd.pid =pi.pid
		where pdepth = 0

	</select>


	<!-- 에이작스로 왼쪽에 카테고리 누르면 상품 가져옴 -->
	<select id="getproductslistajax"
		resultType="com.hart.domain.product.ProductsVO">

<!-- 		    select
		pd.pname,pd.pprice,pd.pcno,pd.stag,pd.pdiscount,pd.pid,
		primg.pimg,primg.pdepth
		from products pd
		join product_img primg
		on
		pd.pid=primg.pid
		where pcno=#{pcno}  and pdepth=0 and
		<![CDATA[   rownum >=  9 * page  and rownum <   9*${page} + 9  	]]> -->
		
		
		 select * from
  		( select
		pd.pname,pd.pprice,pd.pcno,pd.stag,pd.pdiscount,pd.pid,
		primg.pimg,primg.pdepth,rownum as rownumber
		from products pd
		join product_img primg
		on
		pd.pid=primg.pid
		where pcno=#{pcno} and pdepth=0 ) a
        <![CDATA[
        where a.rownumber >  9 * ${page}  and a.rownumber <=   9* ${page} + 9  	
        ]]>

	</select>




	<select id="getcategorybar"
		resultType="com.hart.domain.product.CategoryVO">
		select *
		from
		product_category
		where pcno_top is null

	</select>


	<!-- <select id="getcategorysmall" resultType="com.hart.domain.productsVO"> 
		select * from product_category where pcno_top =#{pcno} </select> -->




	<select id="getcategoryproducts"
		resultType="com.hart.domain.product.ProductsVO2">

		select pc.pcno, pc.pcategory
		,p.pid,p.pname,p.pprice,p.pdiscount
		from product_category pc join
		products p on pc.pcno=p.pcno
		where pcno_top=#{pcno}


	</select>


	<select id="getproductDetail"
		resultType="com.hart.domain.product.ProductsVO">
		SELECT pd.pid, pd.porigin, pd.pcount, pd.pdetail,
		pd.pbname,
		pd.pbsmall, pd.pbdesc, pd.pname, pd.pprice, pd.pcno,
		pd.stag, pd.pdiscount, pd.ptitle
		FROM products pd
		WHERE pd.pid=#{pid}


	</select>

	<select id="getproductDetailimg"
		resultType="com.hart.domain.product.ProductimgVO">
		select * from product_img
		where pid = #{pid}
		order by pdepth
	</select>


	<!-- 왼쪽 카테고리 리스트 가져옴 -->
	<select id="getproductcatrogrtlist"
		resultType="com.hart.domain.product.ProductCategorylistVO">
		select * from product_category where pcno_top=#{pcno}
	</select>



	<!-- <select id ="getproductslist" resultType="ProductsVO"> select * from 
		(select p.pname, p.pprice, p.pdiscount,p.pcno, p.pid ,p.stag, pc.pcategory, 
		pcno_top from products p join product_category pc on p.pcno = pc.pcno where 
		pc.pcno_top= #{pcno}) pd join product_img pi on pd.pid = pi.pid where pdepth 
		= 0 </select> -->

	<!--추천순, 가격순 등 카테고리 필터 -->
	<select id="fillter" parameterType="FillterVO"
		resultType="com.hart.domain.product.ProductsVO">

		select * from
		(select p.pname, p.pprice, p.pdiscount,p.pcno,
		p.pid
		,p.stag, pc.pcategory,
		pcno_top
		from products p
		join
		product_category pc
		on p.pcno = pc.pcno
		where pc.pcno_top= #{pcno_top}) pd
		join product_img
		pi
		on pd.pid = pi.pid
		<where>
			pdepth = 0

			<if test="pcno != 0">
				AND pcno = #{pcno}
			</if>
		</where>
		<trim prefix="ORDER BY">
			<if test='type == "price"'> pprice</if>
			<if test='type == "sales"'> pcount </if>
			<if test="sort == 1 "> DESC </if>
			<if test="sort == 2 "> ASC</if>
		</trim>

	</select>

</mapper>


