<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hart.mapper.ProductsMapper">

	<select id="getproductslist"
		resultType="com.hart.domain.ProductsVO">

		select * from
		(select p.pname, p.pprice, p.pdiscount,p.pcno,
		p.pid ,p.stag, pc.pcategory,
		pcno_top
		from products p
		join
		product_category pc
		on p.pcno = pc.pcno
		where pc.pcno_top= #{pcno}) pd
		join product_img pi
		on pd.pid = pi.pid
		where pdepth = 0

	</select>


	<!-- 에이작스로 왼쪽에 카테고리 누르면 상품 가져옴 -->
	<select id="getproductslistajax"
		resultType="com.hart.domain.ProductsVO">

		select
		pd.pname,pd.pprice,pd.pcno,pd.stag,pd.pdiscount,pd.pid,
		primg.pimg,primg.pdepth
		from products pd
		join product_img primg
		on
		pd.pid=primg.pid
		where pcno=#{pcno} and pdepth=0

	</select>

	<select id="getcategorybar"
		resultType="com.hart.domain.CategoryVO">
		select *
		from
		product_category
		where pcno_top is null

	</select>


	<!-- <select id="getcategorysmall" resultType="com.hart.domain.productsVO"> 
		select * from product_category where pcno_top =#{pcno} </select> -->




	<select id="getcategoryproducts"
		resultType="com.hart.domain.ProductsVO2">

		select pc.pcno, pc.pcategory
		,p.pid,p.pname,p.pprice,p.pdiscount
		from product_category pc join
		products p on pc.pcno=p.pcno
		where pcno_top=#{pcno}


	</select>


	<select id="getproductDetail"
		resultType="com.hart.domain.ProductsVO">
		SELECT pd.pid, pd.porigin, pd.pcount, pd.pdetail,
		pd.pbname,
		pd.pbsmall, pd.pbdesc, pd.pname, pd.pprice, pd.pcno,
		pd.stag, pd.pdiscount, pd.ptitle
		FROM products pd
		WHERE pd.pid=#{pid}


	</select>

	<select id="getproductDetailimg"
		resultType="com.hart.domain.ProductimgVO">
		select * from product_img
		where pid = #{pid}
		order by pdepth
	</select>


	<!-- 왼쪽 카테고리 리스트 가져옴 -->
	<select id="getproductcatrogrtlist"
		resultType="ProductCategorylistVO">
		select * from product_category where pcno_top=#{pcno}
	</select>
	
	
	<!-- 카테고리 상위가격-->
	<!-- <select id="getproductlisthigh" resultType="ProductlistTopVO">
		select pc.pcno, pc.pcategory
		,p.pid,p.pname,p.pprice,p.pdiscount
		from
		product_category pc join
		products p on pc.pcno=p.pcno
		where
		pcno_top=#{pcno}
		order by pprice desc
	</select> -->

	<!-- 무한 스크롤 + 필터링 -->
	<!-- <select id="" resultType="ProductlistbuttonVO">

		SELECT  *
		FROM(select rownum as page, a.* 
        from(
		select p.pid as pid, p.pno as pno, p.pname as pname, p.pprice as pprice,
		p.pdetail as pdetail, b.bname as bname, p.category_clarge as clarge,
		p.category_cmedium as cmedium,p.category_csmall as csmall
		FROM product
		p INNER JOIN brand b ON b.bno = p.brand_bno
       <where>
		    <if test="bname != null">
				AND b.bname = #{bname}
			</if>
			<if test="category.clarge != null">
				AND p.category_clarge = #{category.cLarge}
			</if>
			<if test="category.cmedium != null">
				AND p.category_cmedium = #{category.cMedium}
			</if>
			<if test="category.csmall != null">
				AND p.category_csmall = #{category.cSmall}
			</if>
		</where>					
            <trim prefix="ORDER BY">
                        <if test="sort == 'lprice'">  pprice DESC</if>
                        <if test="sort == 'hprice'">  pprice DESC</if>
                        <if test="sort == 'lprice'">  pprice DESC</if>
                        <if test="sort == 'lprice'">  pprice DESC</if>
                        <if test="sort == 'sales'">  pcount DESC </if>
           </trim>
                
                ) a)
      WHERE page <![CDATA[ > ]]> 10*(#{page}-1) AND page <![CDATA[ <= ]]> 10*(#{page})   
              

	</select>
	 -->


</mapper>


