<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hart.mapper.RecipeMapper">

	<!-- <select id="recipelist" resultType="RecipeVO"> select * from recipe 
		</select> -->


	<select id="recipeDetail" resultType="RecipeVO">

		select *
		from recipe
		where
		rid= #{rid}
	</select>


	<select id="RecipeContent" resultType="RecipeContentVO">

		select * from recipe_content where rid= #{rid}

	</select>



	<select id="recipelist" resultType="RecipeVO"
		parameterType="com.hart.domain.product.RecipeVO">

		select * from
		(
		select rownum as rn ,rc.*
		from
		(
		select * from recipe
		<trim prefix="ORDER BY">
			<if test="sort == 1 "> rregdate desc</if>
			<if test="sort == 2 "> rlevel desc</if>
			<if test="sort == 3 "> rtime desc</if>
		</trim>
		) rc
		) where rn between (#{page} * 6 + 1) AND (#{page} * 6 + 6)
	</select>

</mapper>


