<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay" th:fragment="header1"></div>
<div class="offcanvas-menu-wrapper" th:fragment="header2">
	<div class="offcanvas__option">
		<div class="offcanvas__links">

			<a href="/member/login" sec:authorize="!isAuthenticated()">로그인</a> <a
				href="/member/login" sec:authorize="isAuthenticated()">로그아웃</a>
		</div>
	</div>
	<div class="offcanvas__nav__option">
		<a href="#" class="search-switch"><i
			class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i></a>
		<a sec:authorize="isAuthenticated() and principal.csno ==null"
			class='share_cart' href="#"><i class="fa-solid fa-users fa-xl"
			style="color: #000000;"></i></a> <a
			sec:authorize="isAuthenticated() and principal.csno !=null"
			Paid="kakao-link-btn" href="javascript:kakaoShare()"> <i
			class="fa-solid fa-up-right-from-square fa-xl"
			style="color: #000000;"></i>
		</a> <a href="/cart/mycart"><i class="fa-solid fa-cart-shopping fa-xl"
			style="color: #000000;"></i></a><a href="/order/qr"><i
			class="fa-solid fa-qrcode fa-beat fa-xl" style="color: #000000;"></i></a><a
			href="javascript: alarmToggle();"><i class="fa-solid fa-bell fa-xl"></i></a>
			

	</div>
	<div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header header-wrap" th:fragment="header3">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7">
					<div class="header__top__left">
						<p>HCART와 함께하는 쇼핑, HART에 오신걸 환영합니다.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-5">
					<div class="header__top__right">
						<div class="header__top__links" sec:authorize="isAuthenticated()">
							<a href="/member/logout">로그아웃</a>
						</div>
						<div class="header__top__links" sec:authorize="!isAuthenticated()">
							<a href="/member/login">로그인</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="header__logo">

					<a href="/"><img src="/img/logo.png" alt=""
						style="height: 23px" /></a>

				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<nav class="header__menu mobile-menu">
					<ul>

						<li><a href="/product/list?pcno_top=100571" class="active">Product</a>
							<ul class="dropdown" id="listCate"
								style="width: 220px; background: #ffffff; padding: 0px;">
							</ul></li>
						<li><a href="/recipe/list">Recipe</a></li>

						<li><a href="/class">Live</a></li>
						<li><a href="/event?evid=1">Event</a></li>

					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="header__nav__option">

					<a href="#" class="search-switch"><i
						class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i></a>
					<a sec:authorize="isAuthenticated() and principal.csno ==null"
						class='share_cart' href="#"><i class="fa-solid fa-users fa-xl"
						style="color: #000000;"></i></a> <a
						sec:authorize="isAuthenticated() and principal.csno !=null"
						Paid="kakao-link-btn" href="javascript:kakaoShare()"> <i
						class="fa-solid fa-up-right-from-square fa-xl"
						style="color: #000000;"></i>
					</a> <a href="/cart/mycart"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #000000;"></i></a>
					<a href="javascript: alarmToggle();"><i class="fa-solid fa-bell fa-xl" style="color: #000000;"></i></a>
					<div
						class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
						aria-labelledby="alertsDropdown" id="alarmlist"
						style="width: 360px">
						<h6 class="dropdown-header" >알림</h6>
						<!-- <a class="d-flex align-items-center" href="#" style="margin: 10px; border-bottom: solid lightgray;">
							<div class="">
								<div class="icon-circle bg-primary">
									<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
								</div>
							</div>
							<div style="word-break: break-all; margin-left: 15px;">
								<div class="small text-gray-500">04.02(일)</div>
								<p style="font-size: 13px;">[알람test] 금일은 깊은 맛의 맛깔스런 얼갈이 열무김치
									4.5kg 담아가기 수업 당일입니다. 잊지말고 참석해주세요!</p>
							</div>
						</a> 
						 -->
					</div>

				</div>
			</div>
		</div>
		<div class="canvas__open">
			<i class="fa fa-bars"></i>
		</div>
	</div>

	<script sec:authorize="isAuthenticated() and principal.csno !=null"
		src="/js/sse.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {

		$.ajax({
			type: 'POST',
			url : '/alarm',
			contentType : "application/json; charset=utf-8",
			beforeSend: function (xhr) {
				xhr.setRequestHeader(header, token);
			},
			success : function(result){
				
				for (let i = 0; i < result.list.length; i++) {

					let date = result.list[i].alarm_date;
					let content = result.list[i].alarm_content;
					//let date = result[i].alarm_date;
					//let content = result[i].alarm_content;
					console.log(date);
					console.log(content);
					//console.log(cnt);
					console.log("#######################################");
					let str="";
					
					str+=`
						<a class="d-flex align-items-center" href="/" style="margin: 10px; border-bottom: solid lightgray;" id="noticepart">
						<div class="">
							<div class="icon-circle bg-primary">
								<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
							</div>
						</div>
						<div style="word-break: break-all; margin-left: 15px;">
							<div class="small text-gray-500">${date}</div>
							<p style="font-size: 13px;">${content}</p>
						</div>
					</a>
					
					`
					
					$("#alarmlist").append(str);
					
					  
				}
				
				let laststr='';
				laststr+=`<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>`;
				$("#alarmlist").append(laststr);
				
				
				let cnt = result.alarmCount;
				
				if(cnt==0){
					$("#alarmCnt").html("");
				}else{
					$("#alarmCnt").html(cnt+"+");	
				}
	
			},
			error : function(result){
				consoel.log("ajax 실패");
				
			}
			
		});  
		
		
	});
	

	
	</script>


	<script>
		function alarmToggle(){
			if($("#alarmlist").hasClass("show")){
				$("#alarmlist").removeClass("show");
			}else{
				$("#alarmlist").addClass("show");
			}
			
		}
		
		/*
		$(document).mouseup(function (e){
			$("#alarmlist").removeClass("show");
		});
		*/
		
		
		
		/* 
		$(document).ready(function(){
			$("body").on("click",function(){
				$("#alarmlist").removeClass("show");
			})
		})
		 */
		
		
		
		
		
		const token = $("meta[name='_csrf']").attr("content");
		const header = $("meta[name='_csrf_header']").attr("content");
		$(document).on("click", ".share_cart", function (e) {

			e.preventDefault();
			Swal.fire({
				title: '공유 장바구니를 생성하시겠습니까?',
				text: "공유 장바구니가 우선적으로 사용됩니다.",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonText: '아니',
				cancelButtonColor: '#d33',
				confirmButtonText: '생성'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/capi/create',
						type: 'post',
						contentType: "application/json",
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						success: function (result) {
							console.log(result);
							Swal.fire(
								'공유 장바구니로 이동합니다.'
							)
							location.href = '/cart/share/' + result.result.csno;
						}, error: function (err, xhr, status) {
							console.log(err.status);
						}
					})

				} else {
					Swal.fire('공유 장바구니 생성 실패');
				}
			})
		});
	</script>
</header>
<!-- Header Section End -->
</html>