<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!-- Offcanvas Menu Begin -->
<div
	class="offcanvas-menu-overlay"
	th:fragment="header1"
></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
#myorderlist {
	display: none;
}

div.col-lg-6.col-md-6>nav>ul {
	margin-left: 80px;
}
</style>
<script>
    $(document).ready(function () {
      $(".offcanvas-menu-wrapper").click(function () {
        $("#myorderlist").css("display", "block");
      });
      
    });
   

  </script>
<div
	class="offcanvas-menu-wrapper"
	th:fragment="header2"
>
	<div class="offcanvas__option">
		<div class="offcanvas__links">
			<a
				href="/member/login"
				sec:authorize="!isAuthenticated()"
			>로그인</a> <a
				sec:authorize="isAuthenticated()"
				href="/mypage/order"
			>마이페이지</a> <a
				href="/member/login"
				sec:authorize="isAuthenticated()"
			>로그아웃</a>
		</div>
	</div>
	<div
		class="offcanvas__nav__option"
		style="width: 266px"
	>
		<a href="/order/qr"><i
			class="fa-solid fa-qrcode fa-beat fa-xl"
			style="color: #000000"
		></i></a><a
			sec:authorize="isAuthenticated() and principal.csno !=null"
			Paid="kakao-link-btn"
			href="javascript:kakaoShare()"
		> <i
			class="fa-solid fa-up-right-from-square fa-xl"
			style="color: #000000"
		></i>
		</a> <a href="/cart/mycart"><i
			class="fa-solid fa-cart-shopping fa-xl"
			style="color: #000000"
		></i></a> <a
			href="javascript: alarmToggle();"
			onclick="updateCheckAlarm()"
			id="mobile_alarm"
		> <!--좌측 배너 알림내용 시작  --> <i
			class="fa-solid fa-bell fa-xl"
			style="color: #000000"
		></i> <span
			class="badge badge-danger badge-counter"
			id="alarmCnt2"
			style="left: 15px; color: white"
		></span> <!--좌측 배너 알림내용 시작  -->
			<div
				class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
				aria-labelledby="alertsDropdown"
				id="alarmlist1"
				style="width: 360px; top: 145px; left: 10px"
			>
				<h6 class="dropdown-header">알림</h6>
				<!-- 

						<a class="d-flex align-items-center" href="/" style="margin: 10px; border-bottom: solid lightgray;" id="noticepart">
						<div class="">
							<div class="icon-circle bg-primary">
								<i class="fa-solid fa-alarm-clock"></i>
								<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
							</div>
						</div>
						<div style="word-break: break-all; margin-left: 15px;">
							<div class="small text-gray-500">04.02(일)</div>
							<p style="font-size: 13px;">[알람test] 금일은 깊은 맛의 맛깔스런 얼갈이 열무김치 4.5kg 담아가기 수업 당일입니다. 잊지말고 참석해주세요!</p>
						</div>
					</a>
					
					
						<a class="d-flex align-items-center" href="/" style="margin: 10px; border-bottom: solid lightgray;" id="noticepart">
						<div class="">
							<div class="icon-circle bg-primary">
								<i class="fa-solid fa-alarm-clock"></i>
								<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
							</div>
						</div>
						<div style="word-break: break-all; margin-left: 15px;">
							<div class="small text-gray-500">04.03(월)</div>
							<p style="font-size: 13px;">[알람] 금일은 깊은 맛의 맛깔스런 얼갈이 열무김치 4.5kg 담아가기 수업 당일입니다. 잊지말고 참석해주세요!</p>
						</div>
					</a>
					
					
						<a class="d-flex align-items-center" href="/" style="margin: 10px; border-bottom: solid lightgray;" id="noticepart">
						<div class="">
							<div class="icon-circle bg-primary">
								<i class="fa-solid fa-alarm-clock"></i>
								<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
							</div>
						</div>
						<div style="word-break: break-all; margin-left: 15px;">
							<div class="small text-gray-500">04.04(화)</div>
							<p style="font-size: 13px;">[알람] 내일은 깊은 맛의 맛깔스런 얼갈이 열무김치 4.5kg 담아가기 수업 예정일입니다.</p>
						</div>
					</a>
					 -->
				<a
					class="dropdown-item text-center small text-gray-500"
					href="#"
				></a>
			</div> <!--좌측 배너 알림내용 끝  -->
		</a>
	</div>
	<div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header
	class="header header-wrap"
	th:fragment="header3"
	style="height: 110px"
>
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7">
					<div class="header__top__left">
						<p>HCART와 함께하는 쇼핑, HART에 오신걸 환영합니다.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-5">
					<div class="header__top__right">
						<div
							class="header__top__links"
							sec:authorize="isAuthenticated()"
						>
							<a href="/mypage/order">마이페이지</a> <a href="/member/logout">로그아웃</a>
						</div>
						<div
							class="header__top__links"
							sec:authorize="!isAuthenticated()"
						>
							<a href="/member/login">로그인</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="container"
		style="padding-left: 0px; padding-right: 0px; background: white"
	>
		<div
			class="row"
			style="height: 75px; width: 100%;"
		>
			<div class="col-lg-3 col-md-3">
				<div
					class="header__logo"
					style="padding-top: 17px"
				>
					<a href="/"><img
						src="/img/hartlogo.jpg"
						alt=""
						style="height: 50px"
					/></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<nav class="header__menu mobile-menu">
					<ul style="margin-top: 0px; margin-bottom: 1rem;">
						<li><a
							href="/product/list?pcno_top=100571"
							class="active"
						>상품</a>
							<ul
								class="dropdown"
								id="listCate"
								style="width: 220px; background: #ffffff; padding: 0px"
							></ul>
							<ul
								class="dropdown"
								id="depth2"
								style="padding: 0px"
							></ul></li>
						<li><a href="/recipe/list">레시피</a></li>
						<li><a href="/class">Live</a></li>
						<li><a
							id="eventId"
							href="/event?evid=1"
						>공모전</a></li>
						<li><a
							sec:authorize="isAuthenticated() and principal.csno ==null"
							class="share_cart"
							href="#"
						>함께 장보기</a></li>
						<li sytle="display: none"><a
							href="/mypage/order"
							id="myorderlist"
							style="margin-top: 30px"
							sec:authorize="isAuthenticated()"
						>주문내역</a></li>
						<li sytle="display: none"><a
							href="/mypage/class"
							id="myclasslist"
							sec:authorize="isAuthenticated()"
						>수강내역</a></li>
					</ul>
				</nav>
				<input
					type="hidden"
					id="eventinput"
					value="1"
				/>
				<script>
            $(document).ready(function () {
              $.ajax({
                url: "/event/api/eventId",
                type: "GET",
                success: function (data) {
                  $("#eventinput").val(data.evid);
                  $("#eventId").attr("href", "/event?evid=" + data.evid);
                  $("#applyContest").attr("href", "/event?evid=" + data.evid);

                  let serverDate = new Date(data.end_date);
                  var clientOffset = new Date().getTimezoneOffset() / 60 - 15; // 클라이언트의 시간대를 시간 단위로 가져옴
                  var clientDate = new Date(serverDate.getTime() - clientOffset * 3600 * 1000);

                  $("#countdown").countdown(clientDate, function (event) {
                    $(this).html(event.strftime("<div class='cd-item'><span>%D</span> <p>일</p> </div>" + "<div class='cd-item'><span>%H</span> <p>시</p> </div>" + "<div class='cd-item'><span>%M</span> <p>분</p> </div>" + "<div class='cd-item'><span>%S</span> <p>초</p> </div>"));
                  });
                },
              });
            });
          </script>
			</div>
			<div class="col-lg-3 col-md-3">
				<div
					class="header__nav__option"
					style="width: 217px; margin-left: 50px"
				>
					<a
						sec:authorize="isAuthenticated() and principal.csno !=null"
						Paid="kakao-link-btn"
						href="javascript:kakaoShare()"
					> <i
						class="fa-solid fa-up-right-from-square fa-xl"
						style="color: #000000"
					></i>
					</a> <a href="/cart/mycart"><i
						class="fa-solid fa-cart-shopping fa-xl"
						style="color: #000000"
					></i></a> <a
						href="javascript: alarmToggle();"
						onclick="updateCheckAlarm()"
					><i
						class="fa-regular fa-bell fa-xl"
						style="color: #000000"
					></i> <span
						class="badge badge-danger badge-counter"
						id="alarmCnt"
						style="left: 15px; color: white"
					></span> </a>
					<div
						class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
						aria-labelledby="alertsDropdown"
						id="alarmlist"
						style="width: 360px"
					>
						<h6 class="dropdown-header">알림</h6>
						<!-- <a class="d-flex align-items-center" href="#" style="margin: 10px; border-bottom: solid lightgray;">

							<div class="">
								<div class="icon-circle bg-primary">
									<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
								</div>
							</div>
							<div style="word-break: break-all; margin-left: 15px;">
								<div class="small text-gray-500">04.02(일)</div>
								<p style="font-size: 13px;">[알람test] 금일은 깊은 맛의 맛깔스런 얼갈이 열무김치
									4.5kg 담아가기 수업 당일입니다. 잊지말고 참석해주세요!</p>
							</div>
						</a> 
						 -->
					</div>
				</div>
			</div>
		</div>
		<div class="canvas__open">
			<i
				class="fa fa-bars"
				style="margin-top: 7px"
			></i>
		</div>
	</div>
	<script
		type="text/javascript"
		src="/js/toastmsg.js"
	></script>
	<script
		sec:authorize="isAuthenticated() and principal.csno !=null"
		src="/js/sse.js"
	></script>
	<script type="text/javascript">

      $(document).ready(function () {
		showToast("야호야호야호ㅑ오햐오향호야홍햐 ~",1);
        $.ajax({
          type: "POST",
          url: "/alarm",
          contentType: "application/json; charset=utf-8",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function (result) {
            for (let i = 0; i < result.list.length; i++) {
              let date = result.list[i].alarm_date;
              let content = result.list[i].alarm_content;
              //let date = result[i].alarm_date;
              //let content = result[i].alarm_content;
              //console.log(cnt);
              let str = "";

              str += `
						<a class="d-flex align-items-center" href="/" style="margin: 10px; border-bottom: solid lightgray;" id="noticepart">
						<div class="">
							<div class="icon-circle bg-primary">
								<i class="fa-solid fa-alarm-clock"></i>
								<i class="fas fa-file-alt text-white" aria-hidden="true"></i>
							</div>
						</div>
						<div style="word-break: break-all; margin-left: 15px;">
							<div class="small text-gray-500">${date}</div>
							<p style="font-size: 13px;">${content}</p>
						</div>
					</a>
					

					`;

              $(".dropdown-list").append(str);
            }

            let laststr = "";
            laststr += `<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>`;
            //$("#alarmlist").append(laststr);
            $(".dropdown-list").append(laststr);

            let cnt = result.alarmCount;

            if (cnt == 0) {
              //$("#alarmCnt").html("");
              $(".badge").html("");
            } else {
              //$("#alarmCnt").html(cnt+"+");
              $(".badge").html(cnt + "+");
            }
          },
          error: function (result) {
            console.log("ajax 실패");
          },
        });
      });

      function updateCheckAlarm() {
        $.ajax({
          type: "POST",
          url: "/alarm/update",
          contentType: "application/json; charset=utf-8",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function () {
            $(".badge").html("");
          },
          error: function () {
        	  console.log("ajax실패");
          },
        });
      }
    </script>
	<script>
      /*

		function alarmToggle(){
			if($("#alarmlist").hasClass("show")){
				$("#alarmlist").removeClass("show");
			}else{
				$("#alarmlist").addClass("show");
			}
			
		}
		*/

      function alarmToggle() {
        if ($(".dropdown-list").hasClass("show")) {
          $(".dropdown-list").removeClass("show");
        } else {
          $(".dropdown-list").addClass("show");
        }
      }

      /*

		$(document).mouseup(function (e){
			$("#alarmlist").removeClass("show");
		});
		*/

      /* 
		$(document).ready(function(){
			$("body").on("click",function(){
				$("#alarmlist").removeClass("show");
			})
		})
		 */

      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");
      $(document).ready(function(){
        let str=`<div data-v-3007c576="">	
				<!---->
				<div id="toast" class="toast md" data-v-66ae1b7c="">
				<div class="wrap" data-v-66ae1b7c="">
				<picture data-v-66ae1b7c=""  class="toast_img toast-icon" >
				<img alt="" id="img_icon">
				</picture>
				<div class="toast-content" data-v-66ae1b7c="">
				<p data-v-66ae1b7c=""></p>
				</div>
				</div>
				</div>
				</div>`;
    $("body").append(str);
      });
      $(document).on("click", ".share_cart", function (e) {
        e.preventDefault();
        Swal.fire({
          title: "공유 장바구니를 생성하시겠습니까?",
          text: "공유 장바구니가 우선적으로 사용됩니다.",
          icon: "warning",
          iconColor: "#116530",
          showCancelButton: true,
          confirmButtonColor: "#116530",
          cancelButtonText: "취소",
          cancelButtonColor: "gray",
          confirmButtonText: "생성",
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: "/capi/create",
              type: "post",
              contentType: "application/json",
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (data) {
                console.log(result);
                Swal.fire("공유 장바구니로 이동합니다.").then((result) => {
                  if (result.isConfirmed) {
                    location.href = "/cart/share/" + data.result.csno;
                  }
                });
              },
              error: function (err, xhr, status) {
                console.log(err.status);
              },
            });
          } else {
            Swal.fire({
                text: "공유 장바구니 생성 실패",
                icon: "warning",
                iconColor: "#116530",
                confirmButtonText: "확인",
                confirmButtonColor: "#116530",
              });
          }
        });
      });
    </script>
	<script
		src="https://kit.fontawesome.com/41611c5120.js"
		crossorigin="anonymous"
	></script>
</header>
<!-- Header Section End -->
</html>
